{{! @see docroot/modules/custom/alshaya_main_menu/templates/alshaya-main-menu-level1.html.twig }}
<div class="main--menu" data-menu-timing="{{ settings.highlightTiming }}">
  <div class="toggle--sign no--desktop">
    <div class="shop one active">{{t 'shop'}}</div>
    {{#if logged_in }}
      {{#if aura_enabled }}
        <div class="account--logged_in one" id="username-points-wrapper-mobile-menu"></div>
      {{else}}
        <div class="account--logged_in one">{{t 'my account' }}</div>
      {{/if}}
    {{else}}
      {{#if aura_enabled }}
        <div class="account one">
          {{t 'sign in' }} / {{t 'register' }}
          <span id="points-wrapper-mobile-menu"></span>
        </div>
      {{else}}
        <div class="account one">{{t 'sign in' }} / {{t 'register' }}</div>
      {{/if}}
    {{/if}}
  </div>
  <div class="mobile--close no--desktop">
    <span></span>
  </div>
  <ul class="menu__list menu--one__list">
    <div class="menu-backdrop"></div>
    {{#if (or
          (eq menu_type 'default')
          (eq menu_type 'menu_dynamic_display')) }}
      {{#each menu_items as |item|}}
        {{log item}}
        {{> getlevel1items menu_item=item children=item.children}}
      {{/each}}
    {{else if (eq menu_type 'menu_inline_display') }}
      {{log '// @todo implement menu_inline_display'}}
    {{/if}}

    {{#if aura_enabled }}
      <div class="no--desktop">
        <div id="aura-mobile-header-shop"></div>
      </div>
    {{/if}}
  </ul>
</div>

{{#*inline "getlevel1items"}}
  {{log menu_item}}
  {{log children}}
  {{log '// @todo implement promopanel_class'}}
  {{log '// @todo implement level_class'}}
  {{log '// @todo implement remove hardcoded has-child '}}
  {{log '// @todo implement has-child vs overridden-link '}}
  <li class="menu__list-item menu--one__list-item has-child {{ level_class }} {{ promopanel_class }}">
    {{log '// @todo implement remove hardcoded contains-sublink '}}
    <div class="menu__link-wrapper menu-two__link-wrapper contains-sublink">
      {{set 'style' ''}}

      {{log '// @todo implement term_bg_color'}}
      {{#if menu_item.term_bg_color }}
        {{set 'style' '@todo'}}
      {{/if}}

      {{log '// @todo implement font_color'}}
      {{#if menu_item.term_font_color }}
        {{set 'style' '@todo'}}
      {{/if}}

      {{set 'tag' 'a'}}
      {{#if menu_item.tag }}
        {{set 'tag' menu_item.tag}}
      {{/if}}

      {{#if menu_item.icon }}
        <{{@root.tag}} class="menu__link menu--one__link {{ level_class }}" style="{{@root.style}}" title="{{ menu_item.name }}" gtm-menu-title="{{ menu_item.name }}" href="{{ menu_item.url_path }}">
          <span class="icon"><img src="{{ menu_item.icon.url }}" alt="{{ menu_item.name }}"/></span>
          {{ menu_item.name }}
        </{{@root.tag}}>
      {{else}}
        <{{@root.tag}} class="menu__link menu--one__link {{ level_class }}" style="{{@root.style}}" title="{{ menu_item.name }}" gtm-menu-title="{{ menu_item.name }}" href="{{ menu_item.url_path }}">{{ menu_item.name }}</{{@root.tag}}>
      {{/if}}
    </div>
    {{#if menu_item.children }}
      {{! '{render 'main_menu_level2' name=menu_item.name menu_items=menu_item.children } '}}
    {{/if}}
  </li>
{{/inline}}
