<ul class="menu__list menu--four__list">
  <div class="level-four__wrapper">
    <span class="back--link"><span class="menu__back"></span> <span>{{ data.label }}</span></span>
    {% for key, level4 in data.child %}
      <li class="menu__list-item menu--four__list-item {{ level4.class|join(' ') }}">
        <div class="menu__link-wrapper menu-two__link-wrapper">
          <{{ level4.tag }} class="menu__link menu--three__link {{ level4.class|join(' ') }} {{ data.sub-nav-class }}" gtm-menu-title="{{ level4.gtm_menu_title }}" {{ level4.tag_attr }}>{{ level4.label }}</{{ level4.tag }}>
        </div>
      </li>
    {% endfor %}
  </div>
</ul>
