{{! @see macro in docroot/modules/custom/alshaya_main_menu/templates/alshaya-main-menu-level1.html.twig line 44 }}
<li class="menu__list-item menu--one__list-item {{ level_class }} {{ promopanel_class }}">
  {{'// @todo implement remove hardcoded contains-sublink '}}
  <div class="menu__link-wrapper menu-two__link-wrapper contains-sublink">
    {{'// @todo implement style'}}
    {{set 'style' ''}}
    {{#if menu_item.icon }}
      <{{@root.tag}} class="menu__link menu--one__link {{ @root.level_class }}" style="{{@root.style}}" title="{{ menu_item.name }}" gtm-menu-title="{{ menu_item.name }}" href="{{ menu_item.url_path }}">
        <span class="icon"><img src="{{ menu_item.icon.url }}" alt="{{ menu_item.name }}"/></span>
        {{ menu_item.name }}
      </{{@root.tag}}>
    {{else}}
      <{{@root.tag}} class="menu__link menu--one__link {{ @root.level_class }}" style="{{@root.style}}" title="{{ menu_item.name }}" gtm-menu-title="{{ menu_item.name }}" href="{{ menu_item.url_path }}">{{ menu_item.name }}</{{@root.tag}}>
    {{/if}}
  </div>
  {{#if menu_item.columns }}
    {{> main_menu_level2_partial name=menu_item.name columns=menu_item.columns level_class=level_class }}
  {{/if}}
</li>
