{{! @see docroot/modules/custom/alshaya_main_menu/templates/alshaya-main-menu-level4.html.twig }}
<ul class="menu__list menu--four__list">
  <div class="level-four__wrapper">
    <span class="back--link"><span class="menu__back"></span> <span>{{ data.label }}</span></span>
    {{#each items as |menu_item|}}
      <li class="menu__list-item menu--four__list-item {{ level_class }}">
        <div class="menu__link-wrapper menu-two__link-wrapper">
          <{{@root.tag}} class="menu__link menu--three__link {{ level_class }}" style="{{@root.style}}" title="{{ menu_item.name }}" gtm-menu-title="{{ menu_item.name }}" href="{{ @root.path_prefix }}{{ menu_item.url_path }}">{{ menu_item.name }}</{{@root.tag}}>
        </div>
      </li>
    {{/each}}
  </div>
</ul>
