{{ set 'l1_name' l1_name }}
{{#each menu_items as |l2_item|}}
  {{#if l2_item.is_carousel_slider }}
    <div class="visual-mobile-level-three__heading {{ l2_item.mobile_tablet_class }}">{{l2_item.name}}</div>
    {{> visual_mobile_menu_carousel_partial menu_items=l2_item.children class=l2_item.mobile_tablet_class}}
  {{else}}
    <{{@l2_item.tag}} class="visual-mobile-level-two__link {{ l2_item.mobile_tablet_class }}" {{#if (gt l2_item.children.length 1) }} href="#l2-{{l2_item.id}}" data-children="{{l2_item.children.length}}" {{else}} {{{l2_item.tag_attr}}} {{/if}}>
      <img class="visual-mobile-level-two__image" data-src="{{l2_item.image}}">
      <div class="visual-mobile-level-two__heading">{{l2_item.name}}</div>
    </{{@l2_item.tag}}>
    {{#if l2_item.children.length }}
      <div id="l2-{{l2_item.id}}" class="visual-mobile-level-three {{ l2_item.mobile_tablet_class }}">
        <span class="back--link">
          <span class="menu__back"></span>
          <a href="#l2-{{l2_item.id}}">{{@root.l1_name}}</a>
        </span>
        <div class="l2-header">
          <img class="visual-mobile-level-two__image" data-src="{{l2_item.image}}">
          <div class="visual-mobile-level-two__heading">{{l2_item.name}}</div>
        </div>
        {{> visual_mobile_menu_level3_partial menu_items=l2_item.children}}
      </div>
    {{/if}}
  {{/if}}
{{/each}}
