<div class="desc-wrapper">
  <div class="desc-value">
    <p>{{{ html }}}</p>

    {{#if primary_material }}
      <p>{{ primary_material }}</p>
    {{/if}}

    {{#if technologies }}
      <p>{{ technologies }}</p>
    {{/if}}

    {{#if feature_bullets }}
      <p>{{ feature_bullets }}</p>
    {{/if}}

    {{#if green_leaf_notice }}
      <p>{{ green_leaf_notice }}</p>
    {{/if}}
  </div>
</div>
