<div class="address--line1">
  {{ address.address_line2 }} {{ address.dependent_locality }} {{ address.locality }},
</div>

<div class="address--line2">
  {{ address.address_line1 }} {{ address.area_parent_display }} {{ address.administrative_area_display }}
</div>
