<div class="{{ title|clean_class }} c-accordion-delivery-options">
  <h3 class="c-accordion__title">
    {{ title }}
    <span class="title-price">{{ title_price }}</span>
    <span class="subtitle">{{ subtitle }}</span>
  </h3>
  <div class="c-accordion_content">
    <div class="delivery-option-content">
      <div class="delivery-option-title {{ options_standard_icon_class }}">
        <strong>{{ options_standard_title }} </strong>
        <span>{{ options_standard_subtitle }}</span></div>

        <ul>
          <li>
            {{ options_standard_price_options_one_title }}
            <span>{{ options_standard_price_options_one_price }}</span>
          </li>
          <li>
            {{ options_standard_price_options_two_title }}
            <span>{{ options_standard_price_options_two_price }}</span>
          </li>
        </ul>
    </div>
  </div>
</div>
