<a href="{{ product_url }}">{{ gallery }}</a>
<div class="product-plp-detail-wrapper">
  <h2 class="field--name-name">
    <a href="{{ product_url }}">{{ product_label }}</a>
  </h2>

  {% block pricePrefix %}
  {% endblock %}

  <div class="price-block {{ price_block_identifier }}">
    {{ price_block }}
  </div>

  {% if promotions %}
    <div class="promotions">
      {% for id, promotion in promotions %}
        <span class="sku-promotion-item">
          <a class="sku-promotion-link" href="{{ path('entity.node.canonical', {'node': id }) }}">
            {{ promotion.text }}
          </a>
        </span>
      {% endfor %}
    </div>
  {% endif %}

  {% block swatches %}
    {% if swatches is not empty %}
      <div class="swatches">
        {% for key,swatch in swatches %}
          {% if swatch is not empty %}
            <a href="{{ product_base_url }}?selected={{ key }}">
              <span class='swatch-block swatch-image'>
                <img {% if (swatch.swatch_product_url) %} data-sku-image = "{{ swatch.swatch_product_url }}" {% endif %} src="{{ swatch.swatch_url }}" />
              </span>
            </a>
          {% endif %}
        {% endfor %}

        {% if swatch_more_text %}
          <a class="swatch-more-link" href="{{ product_url }}">{{ swatch_more_text }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if swatch_color_count %}
      <div class="swatches">
        <div class="swatch-color-count mobile-only-block">
          <a class="swatch-color-count"
             href="{{ product_url }}">{{ swatch_color_count }}</a>
        </div>
      </div>
    {% endif %}

  {% endblock %}

</div>

{{ stock_placeholder }}
