<a href="{{ product_url }}">{{ gallery }}</a>

<h2 class="field--name-name">
  <a href="{{ product_url }}">{{ product_label }}</a>
</h2>

{% if final_price %}
  <div class="has--special--price">
{% else %}
  <div class="price">
{% endif %}
  {{ price }}
</div>

{% if final_price %}
  <div class="special--price">
    {{ final_price }}
  </div>

  <div class="price--discount">
    {{ discount }}
  </div>
{% endif %}

{% if out_of_stock %}
  <div class="out-of-stock">
    {{ out_of_stock }}
  </div>
{% endif %}
{% if promotions %}
  <div class="promotions">
    {% for id, promotion in promotions %}
      {% if (promotion.render_link) %}
        <a class="sku-promotion-link" href="{{ path('entity.node.canonical', {'node': id }) }}">
          {{ promotion.text }}
        </a>
      {% else %}
        {{ promotion.text }}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
