<div>
  {% if beneficiary_name %}
    <span>{{ "Beneficiary Name"|t }}</span>: <span>{{ beneficiary_name }}</span>
  {% endif %}
  {% if bank_name %}
    <span>{{ "Name of Bank"|t }}</span>: <span>{{ bank_name }}</span>
  {% endif %}
  {% if branch %}
    <span>{{ "Branch"|t }}</span>: <span>{{ branch }}</span>
  {% endif %}
  {% if address %}
    <span>{{ "Address"|t }}</span>: <span>{{ address }}</span>
  {% endif %}
  {% if account_number %}
    <span>{{ "Account No."|t }}</span>: <span>{{ account_number }}</span>
  {% endif %}
  {% if iban %}
    <span>{{ "IBAN"|t }}</span>: <span>{{ iban }}</span>
  {% endif %}
  {% if swift_code %}
    <span>{{ "Swift Code"|t }}</span>: <span>{{ swift_code }}</span>
  {% endif %}
  {% if purpose %}
    <span>{{ "Purpose"|t }}</span>: <span>{{ purpose }}</span>
  {% endif %}
</div>
