<div class="banktransfer__details">
  {% if beneficiary_name %}
    <div class="beneficiary__name">
      <span>{{ "Beneficiary Name"|t }}</span> <span>{{ beneficiary_name }}</span>
    </div>
  {% endif %}
  {% if bank_name %}
    <div class="bank__name">
      <span>{{ "Name of Bank"|t }}</span><span>{{ bank_name }}</span>
    </div>
  {% endif %}
  {% if branch %}
    <div class="branch__name">
      <span>{{ "Branch"|t }}</span><span>{{ branch }}</span>
    </div>
  {% endif %}
  {% if address %}
    <div class="beneficiary__address">
      <span>{{ "Address"|t }}</span><span>{{ address }}</span>
    </div>
  {% endif %}
  {% if account_number %}
    <div class="beneficiary__account">
      <span>{{ "Account Number"|t }}</span><span>{{ account_number }}</span>
    </div>
  {% endif %}
  {% if iban %}
    <div class="beneficiary__iban">
      <span>{{ "IBAN"|t }}</span><span>{{ iban }}</span>
    </div>
  {% endif %}
  {% if swift_code %}
    <div class="beneficiary__code">
      <span>{{ "Swift Code"|t }}</span><span>{{ swift_code }}</span>
    </div>
  {% endif %}
  {% if purpose %}
    <div class="banktransfer__purpose">
      <span>{{ "Purpose"|t }}</span><span>{{ purpose }}</span>
    </div>
  {% endif %}
</div>
