{#
/**
 * @file
 *
 * Default user order detail template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: Array containing all order details.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('alshaya_acm_customer/order_confirmation') }}
<div{{ attributes }}>

  <div class="barcode--wrapper">
    {% if order_error %}
      <div class="inner--wrap">
        <div class="messages error">
          {{ order_error }}
        </div>
      </div>
    {% else %}
      <div class="inner--wrap">
        <div>
          {% trans %}
          <p>Thank you for shopping online with us, <strong class="dark--text">{{ account.first_name }} {{ account.last_name }}</strong></p>
          {% endtrans %}
        </div>

        <div>
          {% trans %}
          <p>You’ll receive an email addressed to <strong class="dark--text">{{ account.mail }}</strong> conﬁrming your order</p>
          {% endtrans %}
        </div>

        {% if order.loyaltyCard %}
          <div>
            {% trans %}
            <p>Your PRIVILEGES CLUB card number is: <strong class="dark--text">{{ order.loyaltyCard }}</strong></p>
            {% endtrans %}
          </div>
        {% endif %}
      </div>

      <div class="above-mobile print--barcode">
        {{ barcode|raw }}
      </div>
    </div>
  {% endif %}

  <div class="order-summary">
    <div class="order-id-details">
      {% trans %}
        Your order number is <strong>{{ order.orderId }}</strong>
      {% endtrans %}
    </div>

    <div class="mobile-only print--barcode">
      {{ barcode|raw }}
    </div>

    <div class="order-print-button">
      <a class="final-print-confirmation" href="{{ print_link }}" target="_blank">{{ "print confirmation"|t }}</a>
    </div>

  </div>

  <h2 class="subtitle">{{ "order details"|t }}</h2>

  <table class="user__order--detail">
    <tbody>
      <tr class="order-details-row">
        <td class="order__user--info">
          {% if order_details.type == 'cc' %}
            <div class="label font-small">{{ 'Collection Address'|t }}</div>
            <div class="store-name-and-address">
              <div class="store-name dark">{{ order_details.store_name }}</div>
              <div class="store-address">{{ order_details.store_address|raw }}</div>
              <div class="store-phone">{{ order_details.store_phone }}</div>
              <div class="store-map-link">
                <a href="{{ order_details.view_on_map_link }}" target="_blank">{{ 'View on map'|t }}</a>
              </div>
            </div>

            <div class="contact">
              <div class="label font-small">{{ "Collector contact no."|t }}</div>
              <div class="dark no-direction">{{ order_details.contact_no }}</div>
            </div>
          {% else %}
            <div class="label font-small">{{ "Delivery details"|t }}</div>
            <div>{{ order_details.delivery_address }}</div>
          {% endif %}

          <div class="mobile-only payment--details">
            <div class="label font-small">{{ "Payment method"|t }}</div>
            <div class="dark">{{ order_details.payment_method }}</div>
          </div>

          {% if order_details.banktransfer_payment_details %}
            <div class="mobile-only banktransfer">
              {{ order_details.banktransfer_payment_details }}
            </div>
          {% endif %}

          {% if order_details.transaction_id %}
            <div class="mobile-only transaction-id">
              <div class="label font-small">{{ "Transaction ID"|t }}</div>
              <div class="dark">{{ order_details.transaction_id }}</div>
            </div>
          {% endif %}

          {% if order_details.payment_id %}
            <div class="mobile-only payment-id">
              <div class="label font-small">{{ "Payment ID"|t }}</div>
              <div class="dark">{{ order_details.payment_id }}</div>
            </div>
          {% endif %}

          {% if order_details.result_code %}
            <div class="mobile-only result-code">
              <div class="label font-small">{{ "Result code"|t }}</div>
              <div class="dark">{{ order_details.result_code }}</div>
            </div>
          {% endif %}

        </td>
        <td class="order__delivery-details">
          {% if order_details.type == 'cc' %}
            <div class="label font-small">{{ 'Collection times'|t }}</div>
            <div>
              <div class="store-open-hours">
                <div class="hours--wrapper selector--hours">
                  <div class="open--hours">
                    {% for item in order_details.store_open_hours %}
                      <div>
                        <span class="key-value-key dark">{{ item.key }}</span>
                        <span class="key-value-value">{{ item.value }}</span>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% elseif order_details.billing_address %}
            <div class="label font-small">{{ "Billing details"|t }}</div>
            <div>{{ order_details.billing_address }}</div>
          {% endif %}

          <div class="mobile-only delivery--method">
            <div class="label font-small">{{ "Delivery method"|t }}</div>
            <div class="dark">{{ order_details.delivery_method }}</div>
          </div>
        </td>
        <td class="desktop-only">
          {% if order_details.type == 'cc' and order_details.billing_address %}
            <div class="label font-small">{{ "Billing details"|t }}</div>
            <div>{{ order_details.billing_address }}</div>
          {% endif %}
        </td>
        <td class="above-mobile blend">
          <div class="label payment-method font-small">{{ "Payment method"|t }}</div>
          <div class="dark">{{ order_details.payment_method }}</div>

            {% if order_details.banktransfer_payment_details %}
              {{ order_details.banktransfer_payment_details }}
            {% endif %}

          {% if order_details.transaction_id %}
            <div class="label transaction-id font-small">{{ "Transaction ID"|t }}</div>
            <div class="dark">{{ order_details.transaction_id }}</div>
          {% endif %}

          {% if order_details.payment_id %}
            <div class="label payment-id font-small">{{ "Payment ID"|t }}</div>
            <div class="dark">{{ order_details.payment_id }}</div>
          {% endif %}

          {% if order_details.result_code %}
            <div class="label result-code font-small">{{ "Result code"|t }}</div>
            <div class="dark">{{ order_details.result_code }}</div>
          {% endif %}

          <div class="label delivery-method font-small">{{ "Delivery method"|t }}</div>
          <div class="dark">{{ order_details.delivery_method }}</div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      <tr class="product--count">
        <td colspan="5">
          {% trans %}
          Product details ({{ products_count }})
          {% endtrans %}
        </td>
      </tr>

      {% for product in products %}
        <tr class="order-item-row collapse-row">
          <td class="order__product--image">
            {% if product.image %}
              {{ product.image }}
            {% endif %}
          </td>
          <td class="order__product--details">
            <div class="dark">{{ product.name }}</div>

            {% for attribute in product.attributes %}
              <div class="light">
                {% trans %}
                  {{ attribute.label }}: {{ attribute.value }}
                {% endtrans %}
              </div>
            {% endfor %}

            <div class="light">
              {% trans %}
                Item code: {{ product.sku }}
              {% endtrans %}
            </div>

            <div class="light">
              {% trans %}
                Quantity: {{ product.ordered }}
              {% endtrans %}
            </div>

            <div class="mobile-only">
              <div class="light">{{ "Total"|t }}</div>
              {{ product.total }}
            </div>
          </td>
          <td class="above-mobile order__unit--price">
            <div class="light">{{ "Unit price"|t }}</div>

            <div class="dark">
              {{ product.price }}
            </div>
          </td>
          <td class="above-mobile blend">
            <div class="light">{{ "Total"|t }}</div>

            <div class="dark">
              {{ product.total }}
            </div>
          </td>

          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endfor %}

      {% block subTotalRow %}
      <tr class="sub-total-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td class="right--align">{{ "Sub total"|t }}</td>
        <td class="blend">
          {{ order_details.sub_total }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>
      {% endblock %}

      {% block discountRow %}
      {% if order_details.discount is not empty %}
        <tr class="discount-row collapse-row">
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="right--align">{{ "Discount"|t }}</td>
          <td class="blend">
            {{ order_details.discount }}
          </td>
          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endif %}
      {% endblock %}

      {% block deliveryChargeRow %}
      <tr class="delivery-charge-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td class="right--align">{{ "Delivery charge"|t }}</td>
        <td class="blend">
          {{ order_details.delivery_charge }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>
      {% endblock %}

      {% block surchargeRow %}
        {% if order_details.surcharge %}
          <tr class="surcharge-row collapse-row">
            <td class="above-mobile">&nbsp;</td>
            <td class="above-mobile">&nbsp;</td>
            <td class="right--align">{{ order_details.surcharge_label }}</td>
            <td class="blend">
              {{ order_details.surcharge }}
            </td>
            <td class="above-mobile empty--cell">&nbsp;</td>
          </tr>
        {% endif %}
      {% endblock %}

      {% block totalRow %}
      <tr class="total-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td>
          <div class="dark right--align upcase">{{ "Order Total"|t }}</div>
        </td>
        <td class="warm--white">
          <div class="dark">
            {{ order_details.order_total }}
          </div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>
      {% endblock %}

      {% block vatRow %}
      {% if vat_text %}
        <tr class="total-row collapse-row vat-container">
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="warm--white">
            <span class="vat-text">{{ vat_text }}</span>
          </td>
          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endif %}
      {% endblock %}
    </tbody>
  </table>
</div>
