{#
/**
 * @file
 *
 * Default user order detail template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: Array containing all order details.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>

  <div class="barcode--wrapper">
    <div class="inner--wrap">
      <div>
        {% trans %}
        <p>Thank you for shopping online with us, <strong class="dark--text">{{ account.first_name }} {{ account.last_name }}</strong></p>
        {% endtrans %}
      </div>

      <div>
        {% trans %}
        <p>You’ll receive an email addressed to <strong class="dark--text">{{ account.mail }}</strong> conﬁrming your order</p>
        {% endtrans %}
      </div>

      {% if account.privilege_card_number %}
        <div>
          {% trans %}
          <p>Your Privileges Card Number is: <strong class="dark--text">{{ account.privilege_card_number }}</strong></p>
          {% endtrans %}
        </div>
      {% endif %}
    </div>

    <div class="above-mobile print--barcode">
      {{ barcode }}
    </div>
  </div>

  <div class="order-summary">
    <div class="order-id-details">
      {% trans %}
        Your order number is <strong>{{ order.orderId }}</strong>
      {% endtrans %}
    </div>

    <div class="mobile-only print--barcode">
      {{ barcode }}
    </div>

    <div class="order-print-button">
      <a href="{{ print_link }}" target="_blank">{{ "print confirmation"|t }}</a>
    </div>

  </div>

  <h2 class="subtitle">{{ "order details"|t }}</h2>

  <table class="user__order--detail">
    <tbody>
      <tr class="order-details-row">
        <td>
          <div class="label font-small">{{ "Delivery to"|t }}</div>
          <div class="dark">{{ order_details.delivery_to }}</div>
          <div class="contact">
            <div class="label font-small">{{ "Contact number"|t }}</div>
            <div class="dark">{{ order_details.contact_no }}</div>
          </div>

          <div class="mobile-only payment--details">
            <div class="label font-small">{{ "Payment method"|t }}</div>
            <div class="dark">{{ order_details.payment_method }}</div>
          </div>
        </td>
        <td class="order__delivery-details">
          <div class="label font-small">{{ "Delivery Address"|t }}</div>
          <div class="dark">{{ order_details.delivery_address }}</div>

          <div class="mobile-only delivery--method">
            <div class="label font-small">{{ "Delivery method"|t }}</div>
            <div class="dark">{{ order_details.delivery_method }}</div>
          </div>
        </td>
        {#<td class="above-mobile tablet-blend">
          <div class="tablet-only">
            <div class="label font-small">{{ "Payment method"|t }}</div>
            <div class="dark">{{ order_details.payment_method }}</div>
          </div>

          <div class="tablet-only delivery--method">
            <div class="label font-small">{{ "Delivery method"|t }}</div>
            <div class="dark">{{ order_details.delivery_method }}</div>
          </div>
        </td>#}
        <td class="above-mobile empty--cell">&nbsp;</td>
        <td class="above-mobile blend">
          <div class="label font-small">{{ "Payment method"|t }}</div>
          <div class="dark">{{ order_details.payment_method }}</div>

          <div class="above-mobile delivery--method">
            <div class="label font-small">{{ "Delivery method"|t }}</div>
            <div class="dark">{{ order_details.delivery_method }}</div>
          </div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      <tr class="product--count">
        <td colspan="5">
          {% trans %}
          Product details ({{ products_count }})
          {% endtrans %}
        </td>
      </tr>

      {% for product in products %}
        <tr class="order-item-row collapse-row">
          <td class="order__product--image">
            {% if product.image %}
              {{ product.image }}
            {% endif %}
          </td>
          <td class="order__product--details">
            <div class="dark">{{ product.name }}</div>

            {% for attribute in product.attributes %}
              <div class="light">
                {% trans %}
                  {{ attribute.label }}: {{ attribute.value }}
                {% endtrans %}
              </div>
            {% endfor %}

            <div class="light">
              {% trans %}
                Item code: {{ product.sku }}
              {% endtrans %}
            </div>

            <div class="light">
              {% trans %}
                Quantity: {{ product.ordered }}
              {% endtrans %}
            </div>

            <div class="mobile-only">
              <div class="light">{{ "Total"|t }}</div>
              {{ product.total }}
            </div>
          </td>
          <td class="above-mobile order__unit--price">
            <div class="light">{{ "Unit price"|t }}</div>

            <div class="dark">
              {{ product.price }}
            </div>
          </td>
          <td class="above-mobile blend">
            <div class="light">{{ "Total"|t }}</div>

            <div class="dark">
              {{ product.total }}
            </div>
          </td>

          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endfor %}

      <tr class="sub-total-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td>{{ "Sub total"|t }}</td>
        <td class="blend">
          {{ order_details.sub_total }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      <tr class="delivery-charge-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td>{{ "Delivery charge"|t }}</td>
        <td class="blend">
          {{ order_details.delivery_charge }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      <tr class="total-row collapse-row">
        <td class="above-mobile">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td>
          <div class="dark">{{ "Order Total"|t }}</div>
        </td>
        <td class="warm--white">
          <div class="dark">
            {{ order_details.order_total }}
          </div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
