{{ attach_library('alshaya_acm_customer/recent-order') }}
<table class="user__order--detail recent__orders--list">
  <tbody class="recent__orders--body">
    <tr class="order-summary-row">
      <td class="order-transaction">
        <div class="light tablet-light">{{ 'Order ID' | t }}</div>
        <div class="dark">{{ order.id }}</div>
        <div class="light order--date--time">{{ order.date }}</div>

        <div class="mobile-only">
          <div class="dark order--items">{{ order.item_names | join(', ') }}</div>
          <div class="light">
            {% set count = order.items | length %}
            {% trans %}
              Total: {{ count }} item
            {% plural count %}
              Total: {{ count }} items
            {% endtrans %}
          </div>
        </div>
      </td>

      <td class="above-mobile">
        <div class="dark order--items">{{ order.item_names | join(', ') }}</div>
        <div class="light">
          {% set count = order.items | length %}
          {% trans %}
            Total: {{ count }} item
          {% plural count %}
            Total: {{ count }} items
          {% endtrans %}
        </div>


        <div class="tablet-only">
            <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
          </div>
      </td>

      <td class="mobile-only toggle--icon">
          <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
          <div class="icon-ic_chevrondown"></div>
      </td>

      <td class="desktop-only">
        <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
      </td>

      <td class="above-mobile toggle--icon">
        <div class="light">{{ "Order Total"|t }}</div>
        <div class="dark">{{ order.totals.grand }}</div>
        <div class="icon-ic_chevrondown"></div>
      </td>
    </tr>

    {% for item in order.items %}
      <tr class="order-item-row">
        <td>{{ item.image }}</td>

        <td class="order__details--summary order__details--description">
          <div class="dark">{{ item.name }}</div>
          <div class="light">{{ 'Item code' | t }} {{ item.sku }}</div>
          <div class="light">{{ 'Quantity' | t }}: {{ item.ordered }}</div>

          <div class="tablet-only">
            <div class="light">{{ 'Unit Price' | t }}</div>
            <span class="currency-code dark prefix">{{ item.price }}</span>
          </div>

          <div class="mobile-only">
            <div class="light">{{ 'Total' | t }}</div>
            <span class="currency-code dark prefix">{{ item.total_price }}</span>
          </div>
        </td>

        <td class="desktop-only order__details--summary">
          <div class="light">{{ 'Unit Price' | t }}</div>
          <span class="currency-code dark prefix">{{ item.price }}</span>
        </td>

        <td class="above-mobile total--price order__details--summary">
          <div class="light">{{ 'Total' | t }}</div>
          <span class="currency-code dark prefix">{{ item.total_price }}</span>
        </td>
      </tr>
    {% endfor %}
    <tr class="order-item-row order__detail--link">
      <td colspan="4" class="desktop-only">
        <a href="{{ path('alshaya_acm_customer.orders_detail', {'user': order.user_id, 'order_id': order.id}) }}">{{ 'View order details'| t }}</a>
      </td>
      <td colspan="3" class="tablet-only">
        <a href="{{ path('alshaya_acm_customer.orders_detail', {'user': order.user_id, 'order_id': order.id}) }}">{{ 'View order details'| t }}</a>
      </td>
      <td colspan="3" class="mobile-only">
        <a href="{{ path('alshaya_acm_customer.orders_detail', {'user': order.user_id, 'order_id': order.id}) }}">{{ 'View order details'| t }}</a>
      </td>
    </tr>
  </tbody>
</table>
