{#
/**
 * @file
 *
 * Default user order print template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: Array containing all order details.
 *
 * @ingroup themeable
 */
#}
<div class="site--brand">
  {{ site_logo }}
</div>

<div class="barcode--wrapper">
  <div class="inner--wrap">
    <div>
      {% trans %}
        <p>Thank you for shopping online with us, <strong class="dark--text">{{ account.first_name }} {{ account.last_name }}</strong></p>
      {% endtrans %}
    </div>

    <div>
      {% trans %}
        <p>You’ll receive an email addressed to <strong class="dark--text">{{ account.mail }}</strong> conﬁrming your order</p>
      {% endtrans %}
    </div>

    {% if account.privilege_card_number %}
      <div>
        {% trans %}
          <p>Your Privileges Card Number is: <strong class="dark--text">{{ account.privilege_card_number }}</strong></p>
        {% endtrans %}
      </div>
    {% endif %}
  </div>

  <div class="print--barcode">
    {{ barcode }}
  </div>
</div>

<div class="delivery-details">
  {% trans %}
    <span class="icon-ic_infomation"></span> Your order number is: <strong>{{ order.orderId }}</strong>
  {% endtrans %}
</div>

<h2 class="subtitle">{{ "order details"|t }}</h2>

<table class="user__order--detail order--print">
  <tbody>
    <tr class="order-details-row">
      <td>
        <div class="label">{{ "Delivery to"|t }}</div>
        <div class="dark">{{ account.first_name }} {{ account.last_name }}</div>

        <div class="contact">
          <div class="label">{{ "Contact no."|t }}</div>
          <div class="dark">{{ order_details.contact_no }}</div>
        </div>
      </td>
      <td>
        <div class="label">{{ "Delivery address"|t }}</div>
        <div class="dark">{{ order_details.delivery_address }}</div>
      </td>
      <td>
        <div class="label">{{ "Billing address method"|t }}</div>
        <div class="dark">{{ order_details.billing_address }}</div>
      </td>
      <td class="blend">
        <div class="label">{{ "Payment method"|t }}</div>
        <div class="dark">{{ order_details.payment_method }}</div>

        <div class="delivery--method">
          <div class="label">{{ "Delivery method"|t }}</div>
          <div class="dark">{{ order_details.delivery_method }}</div>
        </div>
      </td>
      <td class="empty--cell">&nbsp;</td>
    </tr>

    <tr class="product--count">
      <td colspan="5">
        {% trans %}
          Product details ({{ products_count }})
        {% endtrans %}
      </td>
    </tr>

    {% for product in products %}
      <tr class="order-item-row">
        <td>
          {% if product.image %}
            {{ product.image }}
          {% endif %}
        </td>
        <td>
          <div class="dark">{{ product.name }}</div>

          {% for attribute in product.attributes %}
            <div>
              {% trans %}
              {{ attribute.label }}: {{ attribute.value }}
              {% endtrans %}
            </div>
          {% endfor %}

          <div>
            {% trans %}
            Item code: {{ product.sku }}
            {% endtrans %}
          </div>

          <div>
            {% trans %}
            Quantity: {{ product.ordered }}
            {% endtrans %}
          </div>
        </td>
        <td>
          <div class="light">{{ "Unit price"|t }}</div>
          {{ product.price }}
        </td>
        <td class="blend">
          <div class="light">{{ "Total"|t }}</div>
          {{ product.total }}
        </td>

        <td>&nbsp;</td>
      </tr>
    {% endfor %}
    <tr class="sub-total-row">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>{{ "Sub total"|t }}</td>
      <td class="blend">
        {{ order_details.sub_total }}
      </td>
      <td class="empty--cell">&nbsp;</td>
    </tr>

    <tr class="delivery-charge-row">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>{{ "Delivery charge"|t }}</td>
      <td class="blend">
        {{ order_details.delivery_charge }}
      </td>
      <td class="empty--cell">&nbsp;</td>
    </tr>

    <tr class="total-row">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <div class="dark">{{ "ORDER TOTAL"|t }}</div>
      </td>
      <td class="warm--white">
        <div class="dark">
          {{ order_details.order_total }}
        </div>
      </td>
      <td class="empty--cell">&nbsp;</td>
    </tr>
  </tbody>
</table>
