{#
/**
 * @file
 *
 * Default user order item template.
 *
 * Available variables:
 * - order: Processed information for single order.
 * - currency_code: Currency code.
 * - currency_code_position: Currency code position.
 *
 * @ingroup themeable
 */
#}

<a href="{{ order_detail_link }}">
  <div class="first-second wrapper">
    <div class="first">
      <div class="light order-label">{{ "Order ID"|t }}</div>
      <div class="dark order-id">{{ order.orderId }}</div>
      <div class="light date">{{ order.orderDate }}</div>
    </div>
    <div class="second">
      <div class="dark order-name">
        {% trans %}
        {{ order.name }}
        {% endtrans %}
      </div>
      <div class="light order-quantity">
        {% trans %}
        Total: {{ order.quantity }} items
        {% endtrans %}
      </div>
    </div>
  </div>
  <div class="second-third wrapper">
    <div class="second">
      <div class="dark order-name">
        {% trans %}
        {{ order.name }}
        {% endtrans %}
      </div>
      <div class="light order-quantity">
        {% trans %}
        Total: {{ order.quantity }} items
        {% endtrans %}
      </div>
    </div>

    <div class="third">
      <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
    </div>
  </div>
  <div class="fourth">
    <div class="light totale-label">{{ "Order Total"|t }}</div>
    <div class="dark order-total">
      {% if currency_code_position == 'before' %}
        <span class="currency-code prefix">{{ currency_code }}</span>{{ order.total }}
      {% else %}
        {{ order.total }}<span
              class="currency-code suffix">{{ currency_code }}</span>
      {% endif %}
    </div>
  </div>
</a>