{#
/**
 * @file
 *
 * Default user order detail template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: Array containing all order details.
 *
 * @ingroup themeable
 */
#}
{% set count = order.quantity %}
{% if download_link %}
  <div class="download-invoice-wrapper">
    <a href="{{ download_link }}" class="download-invoice">{{ "Download Invoice"|t }}</a>
  </div>
{% endif %}
<div>
  <a href="{{ print_link }}" target="_blank" class="button-wide print--button">{{ "print"|t }}</a>
</div>
<div{{ attributes }}>

  <table class="user__order--detail">
    <tbody>
      <tr class="order-summary-row">
        <td class="order-transaction">
          <div class="light font-small">{{ "Order ID"|t }}</div>
          <div class="dark">{{ order.orderId }}</div>
          <div class="light font-small">{{ order.orderDate }}</div>

          <div class="mobile-only">
            <div class="dark">
              {% trans %}
              {{ order.name }}...
              {% endtrans %}
            </div>
            <div class="light">
              {% trans %}
                Total: {{ count }} item
              {% plural count %}
                Total: {{ count }} items
              {% endtrans %}
            </div>
          </div>
        </td>

        <td class="above-mobile">
          <div class="dark">
            {% trans %}
            {{ order.name }}...
            {% endtrans %}
          </div>
          <div class="light">
            {% trans %}
              Total: {{ count }} item
            {% plural count %}
              Total: {{ count }} items
            {% endtrans %}
          </div>

          <div class="tablet-only">
            <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
          </div>
        </td>

        <td class="mobile-only">
          <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
        </td>

        <td class="desktop-only order__summary--status">
          <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
        </td>

        <td class="above-mobile blend">
          <div class="light">{{ "Order Total"|t }}</div>
          <div class="dark">
            {{ order.total }}
          </div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      {% if delivery_detail_notice %}
      <tr class="delivery-details-row">
        {% block deliveryInformationIcon %}
          {% set informationIcon = "icon-ic_infomation" %}
          <td colspan="3" class="above-mobile">
              <span class={{ informationIcon }}></span>
            {{ delivery_detail_notice }}
          </td>
          <td colspan="2" class="mobile-only">
            <span class={{ informationIcon }}></span>{{ delivery_detail_notice }}
          </td>
        {% endblock %}
        <td class="above-mobile blend">&nbsp;</td>
        <td class="desktop-only empty--cell">&nbsp;</td>
      </tr>
      {% endif %}

      <tr class="order-details-row">
        <td class="order__user--info">
          {% if order_details.type == 'cc' %}
            <div class="label font-small">{{ 'Collection Address'|t }}</div>
            <div class="store-name-and-address">
              <div class="store-name dark">{{ order_details.store_name }}</div>
              <div class="store-address">{{ order_details.store_address|raw }}</div>
              <div class="store-phone no-direction">{{ order_details.store_phone }}</div>
              <div class="store-map-link">
                <a href="{{ order_details.view_on_map_link }}" target="_blank">{{ 'View on map'|t }}</a>
              </div>
            </div>

            <div class="contact">
              <div class="label font-small">{{ "Collector contact no."|t }}</div>
              <div class="dark no-direction">{{ order_details.contact_no }}</div>
            </div>
          {% else %}
            <div class="label font-small">{{ "Delivery details"|t }}</div>
            <div>{{ order_details.delivery_address }}</div>
          {% endif %}

          <div class="mobile-only payment--details">
            <div class="label font-small">{{ "Payment method"|t }}</div>
            <div class="dark">{{ order_details.payment_method }}</div>
          </div>

          {% if order_details.banktransfer_payment_details %}
            <div class="mobile-only banktransfer">
              {{ order_details.banktransfer_payment_details }}
            </div>
          {% endif %}

        </td>

        <td class="order__delivery-details">
          {% if order_details.type == 'cc' %}
            <div class="label font-small">{{ 'Collection times'|t }}</div>
            <div>
              <div class="store-open-hours">
                <div class="hours--wrapper selector--hours">
                  <div class="open--hours">
                    {% for item in order_details.store_open_hours %}
                      <div>
                        <span class="key-value-key dark">{{ item.key }}</span>
                        <span class="key-value-value">{{ item.value }}</span>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% elseif order_details.billing_address %}
            <div class="label font-small">{{ "Billing details"|t }}</div>
            <div>{{ order_details.billing_address }}</div>
          {% endif %}

          <div class="mobile-only delivery--method">
            <div class="label font-small">{{ "Delivery method"|t }}</div>
            <div class="dark">{{ order_details.delivery_method }}</div>
          </div>
        </td>

        <td class="desktop-only">
          {% if order_details.type == 'cc' and order_details.billing_address %}
            <div class="label font-small">{{ "Billing details"|t }}</div>
            <div>{{ order_details.billing_address }}</div>
          {% endif %}
        </td>
        <td class="above-mobile blend">
          <div class="label payment-method font-small">{{ "Payment method"|t }}</div>
          <div class="dark">{{ order_details.payment_method }}</div>

          {% if order_details.banktransfer_payment_details %}
            {{ order_details.banktransfer_payment_details }}
          {% endif %}

          <div class="label delivery-method font-small">{{ "Delivery method"|t }}</div>
          <div class="dark">{{ order_details.delivery_method }}</div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      {% for product in products %}
        <tr class="order-item-row">
          <td class="order__product--image">
            {% if product.image %}
              {{ product.image }}
            {% endif %}
          </td>
          <td>
            <div class="dark">{{ product.name }}</div>

            {% for attribute in product.attributes %}
              <div class="light">
                {% trans %}
                  {{ attribute.label }}: {{ attribute.value }}
                {% endtrans %}
              </div>
            {% endfor %}

            <div class="light">
              {% trans %}
                Item code: {{ product.sku }}
              {% endtrans %}
            </div>

            <div class="light">
              {% trans %}
                Quantity: {{ product.ordered }}
              {% endtrans %}
            </div>

            <div class="tablet-only">
              <div class="light">{{ "Unit price"|t }}</div>
              <div class="dark">{{ product.price }}</div>
            </div>
            <div class="mobile-only">
              <div class="light">{{ "Total"|t }}</div>
              <div class="dark">{{ product.total }}</div>
            </div>
          </td>
          <td class="desktop-only">
            <div class="light">{{ "Unit price"|t }}</div>
            <div class="dark">{{ product.price }}</div>
          </td>
          <td class="above-mobile blend">
            <div class="light">{{ "Total"|t }}</div>
            <div class="dark">{{ product.total }}</div>
          </td>

          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endfor %}

      <tr class="sub-total-row">
        <td class="desktop-only">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td class="right--align">{{ "Sub total"|t }}</td>
        <td class="blend">
          {{ order_details.sub_total }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      {% if order_details.discount is not empty %}
        <tr class="discount-row collapse-row">
          <td class="desktop-only">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="right--align">{{ "Discount"|t }}</td>
          <td class="blend">
            {{ order_details.discount }}
          </td>
          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endif %}

      <tr class="delivery-charge-row">
        <td class="desktop-only">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td class="right--align">{{ "Delivery charge"|t }}</td>
        <td class="blend">
          {{ order_details.delivery_charge }}
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      {% if order_details.surcharge %}
        <tr class="surcharge-row collapse-row">
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="right--align">{{ order_details.surcharge_label }}</td>
          <td class="blend">
            {{ order_details.surcharge }}
          </td>
          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endif %}

      <tr class="total-row">
        <td class="desktop-only">&nbsp;</td>
        <td class="above-mobile">&nbsp;</td>
        <td class="right--align">
          <div class="dark upcase">{{ "Order Total"|t }}</div>
        </td>
        <td class="warm--white">
          <div class="dark">
            {{ order_details.order_total }}
          </div>
        </td>
        <td class="above-mobile empty--cell">&nbsp;</td>
      </tr>

      {% if vat_text %}
        <tr class="total-row vat-row collapse-row">
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="above-mobile">&nbsp;</td>
          <td class="warm--white">
            <div class="dark">
              {{ vat_text }}
            </div>
          </td>
          <td class="above-mobile empty--cell">&nbsp;</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

</div>
