{#
/**
 * @file
 *
 * Default user order detail template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: Array containing all order details.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('alshaya_white_label/tooltip') }}

{% set count = order.quantity %}
{% if download_link %}
  <div class="download-invoice-wrapper">
    <a href="{{ download_link }}" class="download-invoice">{{ "Download Invoice"|t }}</a>
  </div>
{% endif %}
<div>
  <a href="{{ print_link }}" target="_blank" class="button-wide print--button">{{ "print"|t }}</a>
</div>
{% if bazaarvoice_strings %}
  {{ bazaarvoice_strings }}
{% endif %}
{% set aura_class = order.auraEnabled ? 'has-aura-points' %}
<div{{ attributes }}>

  <div class="user__order--detail {{aura_class}}">
    <div class="order-summary-row">
      <div class="order-transaction">
        <div class="light font-small">{{ "Order ID"|t }}</div>
        <div class="dark">{{ order.orderId }}</div>
        <div class="light font-small">{{ order.orderDate }}</div>

        <div class="mobile-only">
          <div class="dark">
            {% trans %}
            {{ order.name }}...
            {% endtrans %}
          </div>
          <div class="light">
            {% trans %}
              Total: {{ count }} item
            {% plural count %}
              Total: {{ count }} items
            {% endtrans %}
            {% if order.cancelled_items_count > 0 %}
              <div class="cancel-item">
                <a href="#cancelled-items" class="cancel-link">{{ '@count Cancelled'|t({'@count': order.cancelled_items_count})}}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="above-mobile order-name">
        <div class="dark">
          {% trans %}
          {{ order.name }}...
          {% endtrans %}
        </div>
        <div class="light">
          {% trans %}
            Total: {{ count }} item
          {% plural count %}
            Total: {{ count }} items
          {% endtrans %}
          {% if order.cancelled_items_count > 0 %}
            <div class="cancel-item">
              <a href="#cancelled-items" class="cancel-link">{{ '@count Cancelled'|t({'@count': order.cancelled_items_count})}}</a>
            </div>
          {% endif %}
        </div>

        <div class="tablet-only">
          <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
        </div>
      </div>

      <div class="mobile-only">
        <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
      </div>

      <div class="desktop-only order__summary--status">
        <div class="button {{ order.status.class }}">{{ order.status.text }}</div>
      </div>

      <div class="above-mobile blend order-total">
        <div class="light">{{ "Order Total"|t }}</div>
        <div class="dark">
          {{ order.total }}
        </div>
      </div>
      {% if order.auraEnabled %}
        <div class="above-mobile aura-points">
          <div class="dark points-earned">
            <span>{{ "Points Earned"|t }}</span>
            <span>{{ order.apcAccruedPoints }}</span>
          </div>
          <div class="dark points-redeemed">
            <span>{{ "Points Redeemed"|t }}</span>
            <span>{{ order.apcRedeemedPoints }}</span>
          </div>
        </div>
      {% else %}
        <div class="above-mobile empty--cell">&nbsp;</div>
      {% endif %}
    </div>

    {% if order.online_returns_status is defined and order.online_returns_status %}
      <div class="order-item-row online-returns-eligibility-message">
        <div>
          <div id="online-returns-eligibility-window"></div>
        </div>
      </div>
    {% endif %}

    {% if online_booking_notice %}
    <div class="online-booking-details-row">
      <div>
        <span class="icon-ic_infomation"></span>
        <span class="online-booking-details">
          {% if online_booking_notice.booking_info is defined %}
            <span class="booking-info">
              {{ online_booking_notice.booking_info }}
            </span>
          {% endif %}
          {% if online_booking_notice.customer_care_info is defined %}
            <span class="customer-care-info">
              {{ online_booking_notice.customer_care_info }}
            </span>
          {% endif %}
          {% if online_booking_notice.update_booking_info is defined %}
            <span class="update-booking-info">
              {{ online_booking_notice.update_booking_info }}
            </span>
          {% endif %}
          {% if online_booking_notice.booking_error is defined %}
            <span class="booking-error">
              {{ online_booking_notice.booking_error }}
            </span>
          {% endif %}
        </span>
      </div>
    </div>
    {% endif %}

    {% if delivery_detail_notice %}
    <div class="delivery-details-row">
      {% block deliveryInformationIcon %}
        {% set informationIcon = "icon-ic_infomation" %}
        <div class="above-mobile">
            <span class={{ informationIcon }}></span>
          {{ delivery_detail_notice }}
        </div>
        <div class="mobile-only">
          <span class={{ informationIcon }}></span>{{ delivery_detail_notice }}
        </div>
      {% endblock %}
    </div>
    {% endif %}

    <div class="order-details-row">
      <div class="order__user--info">
        {% if order_details.type == 'cc' %}
          <div class="label font-small">{{ 'Collection Address'|t }}</div>
          <div class="store-name-and-address">
            <div class="store-name dark">{{ order_details.store_name }}</div>
            <div class="store-address">{{ order_details.store_address|raw }}</div>
            <div class="store-phone no-direction">{{ order_details.store_phone }}</div>
            <div class="store-map-link">
              <a href="{{ order_details.view_on_map_link }}" target="_blank">{{ 'View on map'|t }}</a>
            </div>
          </div>

          <div class="contact">
            <div class="label font-small">{{ "Collector contact no."|t }}</div>
            <div class="dark no-direction">{{ order_details.contact_no }}</div>
          </div>
        {% else %}
          {% if order_details.delivery_address %}
            <div class="label font-small">{{ "Delivery details"|t }}</div>
            <div>{{ order_details.delivery_address }}</div>
          {% endif %}
        {% endif %}

        <div class="mobile-only payment--details">
          <div class="label font-small">{{ "Payment method"|t }}</div>
          <div class="dark">{{ order_details.payment_method }}</div>
        </div>

        {% if order_details.payment.referenceNumber %}
          <div class="mobile-only payment--details">
            <div class="label font-small">{{ "Reference No"|t }}</div>
            <div class="dark">{{ order_details.payment.referenceNumber }}</div>
          </div>
        {% endif %}

        {% if order_details.payment.banktransfer_payment_details %}
          <div class="mobile-only banktransfer">
            {{ order_details.payment.banktransfer_payment_details }}
          </div>
        {% endif %}

        {% if order_details.payment.transactionId %}
          <div class="mobile-only transaction-id">
            <div class="label font-small">{{ "Transaction ID"|t }}</div>
            <div class="dark">{{ order_details.payment.transactionId }}</div>
          </div>
        {% endif %}

        {% if order_details.payment.paymentId %}
          <div class="mobile-only payment-id">
            <div class="label font-small">{{ "Payment ID"|t }}</div>
            <div class="dark">{{ order_details.payment.paymentId }}</div>
          </div>
        {% endif %}

        {% if order_details.payment.resultCode %}
          <div class="mobile-only result-code">
            <div class="label font-small">{{ "Result code"|t }}</div>
            <div class="dark">{{ order_details.payment.resultCode }}</div>
          </div>
        {% endif %}

      </div>

      <div class="order__delivery-details">
        {% if order_details.type == 'cc' %}
          <div class="label font-small">{{ 'Collection times'|t }}</div>
          <div>
            <div class="store-open-hours">
              <div class="hours--wrapper selector--hours">
                <div class="open--hours">
                  {% for item in order_details.store_open_hours %}
                    <div>
                      <span class="key-value-key dark">{{ item.key }}</span>
                      <span class="key-value-value">{{ item.value|default('Holiday'|t) }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% elseif order_details.billing_address %}
          <div class="label font-small">{{ "Billing details"|t }}</div>
          <div>{{ order_details.billing_address }}</div>
        {% endif %}

        {% if order_details.delivery_method %}
        <div class="mobile-only delivery--method">
          <div class="label font-small">{{ "Delivery method"|t }}</div>
          <div class="dark">{{ order_details.delivery_method }}</div>
        </div>
        {% endif %}
      </div>

      <div class="desktop-only">
        {% if order_details.type == 'cc' and order_details.billing_address %}
          <div class="label font-small">{{ "Billing details"|t }}</div>
          <div>{{ order_details.billing_address }}</div>
        {% endif %}
      </div>
      <div class="above-mobile blend">
        <div class="label payment-method font-small">{{ "Payment method"|t }}</div>
        <div class="dark">{{ order_details.payment_method }}</div>

        {% if order_details.payment.referenceNumber %}
          <div class="label delivery-method font-small">{{ "Reference No"|t }}</div>
          <div class="dark reference-no">{{ order_details.payment.referenceNumber }}</div>
        {% endif %}

        {% if order_details.payment.banktransfer_payment_details %}
          {{ order_details.payment.banktransfer_payment_details }}
        {% endif %}

        {% if order_details.payment.transactionId %}
          <div class="label transaction-id font-small">{{ "Transaction ID"|t }}</div>
          <div class="dark">{{ order_details.payment.transactionId }}</div>
        {% endif %}

        {% if order_details.payment.paymentId %}
          <div class="label payment-id font-small">{{ "Payment ID"|t }}</div>
          <div class="dark">{{ order_details.payment.paymentId }}</div>
        {% endif %}

        {% if order_details.payment.resultCode %}
          <div class="label result-code font-small">{{ "Result code"|t }}</div>
          <div class="dark">{{ order_details.payment.resultCode }}</div>
        {% endif %}

        {% if order_details.delivery_method %}
        <div class="label delivery-method font-small">{{ "Delivery method"|t }}</div>
        <div class="dark">{{ order_details.delivery_method }}</div>
        {% endif %}
      </div>
      <div class="above-mobile empty--cell">&nbsp;</div>
    </div>

    {% if order.online_returns_status is defined and order.online_returns_status %}
      <div class="order-item-row delivered-items">
        <div>
          <div>{{ "Delivered Items"|t }}</div>
        </div>
      </div>
    {% endif %}

    {% for product in products %}
      {{ _self.order_item(product, false) }}
    {% endfor %}
    {% if order.cancelled_items_count > 0 %}
      <div id="cancelled-items" class="order-item-row">
        <div>
          <div>{{ "Cancelled Items"|t }}</div>
        </div>
      </div>
      {% for product in cancelled_products %}
        {{ _self.order_item(product, true) }}
      {% endfor %}
    {% endif %}

    {% if order.online_returns_status is defined and order.online_returns_status %}
      <div class="order-item-row" id="online-returned-items"></div>
    {% endif %}

    <div class="sub-total-row">
      <div class="desktop-only">&nbsp;</div>
      <div class="above-mobile">&nbsp;</div>
      <div class="right--align">{{ "Sub total"|t }}</div>
      <div class="blend">
        {{ order_details.sub_total }}
      </div>
      <div class="above-mobile empty--cell">&nbsp;</div>
    </div>

    {% if order_details.discount is not empty %}
      <div class="discount-row collapse-row">
        <div class="desktop-only">&nbsp;</div>
        <div class="above-mobile">&nbsp;</div>
        <div class="right--align">{{ "Discount"|t }}</div>
        <div class="blend">
          {{ order_details.discount }}
        </div>
        <div class="above-mobile empty--cell">&nbsp;</div>
      </div>
    {% endif %}

    <div class="delivery-charge-row">
      <div class="desktop-only">&nbsp;</div>
      <div class="above-mobile">&nbsp;</div>
      <div class="right--align">{{ order_details.is_pudo_pickup ? "Collection Charge"|t : "Delivery charge"|t }}</div>
      <div class="blend">
        {{ order_details.delivery_charge }}
      </div>
      <div class="above-mobile empty--cell">&nbsp;</div>
    </div>

    {% if order_details.surcharge %}
      <div class="surcharge-row collapse-row">
        <div class="desktop-only">&nbsp;</div>
        <div class="above-mobile">&nbsp;</div>
        <div class="right--align">{{ order_details.surcharge_label }}</div>
        <div class="blend">
          {{ order_details.surcharge }}
        </div>
        <div class="above-mobile empty--cell">&nbsp;</div>
      </div>
    {% endif %}

    <div class="total-row">
      <div class="desktop-only">&nbsp;</div>
      <div class="above-mobile">&nbsp;</div>
      <div class="right--align">
        <div class="dark upcase">{{ "Order Total"|t }}</div>
      </div>
      <div class="warm--white">
        <div class="dark">
          {{ order_details.order_total }}
        </div>
      </div>
      <div class="above-mobile empty--cell">&nbsp;</div>
    </div>

    {% if vat_text %}
      <div class="total-row vat-row collapse-row">
        <div class="warm--white">
          <div class="dark">
            {{ vat_text }}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {% if order.refund_text is not empty %}
    <div class="order-item-row">
      <div>
        <div class="tooltip-anchor cancelled-item-tooltip-refund-text info">
          <span>{{ order.refund_text }}</span>
        </div>
      </div>
    </div>
  {% endif %}

</div>

{% macro order_item(product, cancelled) %}
  <div class="order-item-row">
    {% if product.image and cancelled %}
      <div class="order__product--image">
        <div class="image-wrapper">
          {{ product.image }}
          <span>{{ 'Cancelled' | t }}</span>
        </div>
      </div>
    {% else %}
      <div class="order__product--image">
        {% if product.image %}
          {{ product.image }}
        {% endif %}
      </div>
    {% endif %}
    <div>
      <div class="dark">{{ product.name }}</div>
      {% if product.attributes is not empty %}
        {% for attribute in product.attributes %}
          <div class="light attr-wrapper">
            {% trans %}
              {{ attribute.label }}: {{ attribute.value }}
            {% endtrans %}
          </div>
        {% endfor %}
      {% endif %}
      <div class="light">
        {% trans %}
          Item code: {{ product.sku }}
        {% endtrans %}
      </div>

      <div class="light">
        {% trans %}
          Quantity: {{ product.ordered }}
        {% endtrans %}
      </div>

      {% if product.free_gift_label %}
        <div class="free-gift-label">{{ product.free_gift_label }}</div>
      {% endif %}

      <div class="tablet-only">
        <div class="light">{{ "Unit price"|t }}</div>
        <div class="dark">{{ product.price }}</div>
      </div>
      <div class="mobile-only">
        {% if product.total %}
          <div class="light">{{ "Total"|t }}</div>
          {% if cancelled %}
            <div class="dark cancelled-total-price">{{ product.total }}</div>
          {% else %}
            <div class="dark">{{ product.total }}</div>
          {% endif %}
        {% endif %}
        {% if product.bazaarvoice_link %}
          <div class="myaccount-write-review" data-sku={{ product.parent_sku }}></div>
        {% endif %}
      </div>
    </div>

    <div class="desktop-only">
      <div class="light">{{ "Unit price"|t }}</div>
      <div class="dark">{{ product.price }}</div>
    </div>

    <div class="above-mobile blend">
      {% if product.total %}
        <div class="light">{{ "Total"|t }}</div>
        {% if cancelled %}
          <div class="dark cancelled-total-price">{{ product.total }}</div>
        {% else %}
          <div class="dark">{{ product.total }}</div>
        {% endif %}
      {% endif %}
    </div>
    {% if product.bazaarvoice_link %}
      <div class="above-mobile user-review bazaarvoice-enable">
        <div class="myaccount-write-review" data-sku={{ product.parent_sku }}></div>
      </div>
    {% endif %}
  </div>
{% endmacro %}
