{#
/**
 * @file
 *
 * Default user order item template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order_details: Array of all themed orders.
 * - account: Order information recieved from conductor.
 * - pager: Pager.
 * - order_not_found: Text to display if no orders found for search result or account.
 * - search_form: Rendered search form.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <h2 class="subtitle above-mobile-block">{{ "recent orders"|t }}</h2>
  <div class="order-search-form">
    {{ search_form }}
  </div>

  <div>
    {{ order_not_found }}
  </div>

  {# Do not remove class in below ul, add classes if required, below class is used in JS. #}
  <ul class="order-items">
    {% for order in order_details %}
      <li class="order-item">
        {{ order }}
      </li>
    {% endfor %}
  </ul>

  {# Do not remove class in below div, add classes if required, below class is used in JS. #}
  {% if next_page_button %}
    <div class="orders-list-pager-wrapper">
      {{ next_page_button }}
    </div>
  {% endif %}

  {#Help block for user#}
  {% if help_block %}
    <div>{{ help_block }}</div>
  {% endif %}
</div>
