{% if label_hidden %}
  {% if multiple %}
    <div class="hours--wrapper selector--hours">
      <div{{ attributes }}>
        <div class="hours--label" onclick='jQuery(this).toggleClass("open");'>{{ 'Opening Hours'|t }}</div>
        <div class="open--hours">
          {% for item in items %}
            <div{{ item.attributes }}>{{ item.content }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}</div>
    {% if multiple %}
    <div class="hours--wrapper selector--hours">
      {% endif %}
      <div class="hours--label" onclick='jQuery(this).toggleClass("open");'>{{ 'Opening Hours'|t }}</div>
      <div class="open--hours">
        {% for item in items %}
          <div{{ item.attributes }}>{{ item.content }}</div>
        {% endfor %}
        {% if multiple %}
      </div>
    </div>
    {% endif %}
  </div>
{% endif %}

<div class="view-on--map">
  <a onclick="mapsApp({{ lat_lng.lat }}, {{ lat_lng.lng }})">
    {{ "Get directions"|t }}
  </a>
</div>

<div class="get--directions">
  <div>
    <a class="device__desktop" href="https://www.google.com/maps/dir/Current+Location/{{ lat_lng.lat }},{{ lat_lng.lng }}" target='_blank' rel="nofollow">
      {{ "Get directions"|t }}
    </a>
    <a class="device__tablet" onclick="mapsApp({{ lat_lng.lat }}, {{ lat_lng.lng }})">
      {{ "Get directions"|t }}
    </a>
  </div>
</div>
