<div class="aura-rewards-wrapper">
  <div class="aura-header-link">
    <a href="">
      {{ 'AURA Rewards'|t }}
    </a>
  </div>
  <div class="aura-header-popup-wrapper">
    <div class="aura-popup-header">
      <h3>
        {{ 'Over 70 of the worlds best loved brands'|t }}
      </h3>
    </div>
    <div class="aura-popup-body">
      <ul>
        <li>
          {{ 'Earn points with every transaction'|t }}
        </li>
        <li>
          {{ 'Redeem your points both online & offline'|t }}
        </li>
        <li>
          {{ 'Unlock a world of exclusive rewards & benefits'|t }}
        </li>
      </ul>
    </div>
    <div class="aura-popup-footer">
      <a href="{{ url('user.login') }}">
        {{ 'Join AURA'|t }}
      </a>
      {{ learn_more|raw }}
    </div>
  </div>
</div>
