<div class="aura-rewards-wrapper">
  <div class="aura-header-link">
    <a href="">
      {{- 'AURA'|t -}}
    </a>
  </div>
  <div class="aura-header-popup-wrapper">
    <div class="aura-popup-header">
      <div class="title title--blue">
        {{- 'Bespoke rewards.'|t -}}
      </div>
      <div class="title title--pink">
        {{- 'Bespoke lifestyles.'|t -}}
      </div>
    </div>
    <div class="aura-popup-sub-header">
      <h3>{{ 'Say hello to Aura'|t }}</h3>
    </div>
    <div class="aura-popup-body">
      <p>{{ 'Good things come to those with taste. Say hello to Aura, a lifestyle program that inclulges your taste for refined brands and experiences'|t }}</p>
    </div>
    <div class="aura-popup-footer">
      <a href="{{ url('user.login') }}" class="join-aura">
        {{- 'Sign up now'|t -}}
      </a>
      <a href="{{ learn_more_link }}" class="learn-more">
        {{- 'Learn More'|t -}}
      </a>
    </div>
  </div>
</div>
