<div class="loyalty-club-details-wrapper">
  <div class="title">
    {{ 'Loyalty Club Benefits'|t }}
  </div>
  <div class="details">
    <div class="row">
      <div class="">
        {{ 'Spend per Calendar Year'|t }}
      </div>
      <div class="">
        {{ 'Loyalty'|t }}
        {{ 'FREE'|t }}
      </div>
      <div class="">
        {{ 'Loyalty'|t }} +
        {{ 'KD'|t }} 500
      </div>
      <div class="">
        {{ 'Loyalty'|t }} {{ 'VIP'|t }}
        {{ 'KD'|t }} 1000
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Points Per KD 1'|t }}
      </div>
      <div class="">
        10 {{ 'Points'|t }}
      </div>
      <div class="">
        15 {{ 'Points'|t }}
      </div>
      <div class="">
        20 {{ 'Points'|t }}
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Birthday Gift'|t }}
      </div>
      <div class="">
        2 {{ 'Choices'|t }}
      </div>
      <div class="">
        3 {{ 'Choices'|t }}
      </div>
      <div class="">
        4 {{ 'Choices'|t }}
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Seasonal Saving'|t }}
      </div>
      <div class="">
        *
      </div>
      <div class="">
        **
      </div>
      <div class="">
        ***
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Free Standard Shipping'|t }}
      </div>
      <div class="">
        
      </div>
      <div class="">
        .
      </div>
      <div class="">
        .
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Early Access to New Launches'|t }}
      </div>
      <div class="">
        
      </div>
      <div class="">
        .
      </div>
      <div class="">
        ..
      </div>
    </div>
    <div class="row">
      <div class="">
        {{ 'Exclusive Events'|t }}
      </div>
      <div class="">
        
      </div>
      <div class="">
        
      </div>
      <div class="">
        .
      </div>
    </div>
  </div>
</div>
