<div class="acq-cart-summary">
  <div class="caption">
    <span class="title">{% trans %} Order Summary {% endtrans %}</span>
    <a class="edit-order-summary" id="checkout-edit-os" href="{{ cart_link }}">{{ 'Edit'|t }}</a>
  </div>
  <div class="content">
    <div class="content-head">{% trans %} Items in your basket {% endtrans %} ({{ number_of_items }})</div>
    <div class="content-items">
      <ul>
        {% for key, product in products %}
          <li>
            <div class="left">
              {{ product.image }}
            </div>
            <div class="right">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-qty">
                <span class="label">{% trans %}Quantity{% endtrans %}: </span>
                {{ product.qty }}
              </span>
              {{ product.total }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="totals">

    {#Sub total#}
    <div class="sub-total">
      <span>{% trans %}Sub total{% endtrans %}</span>
      {{ totals.subtotal }}
    </div>

    {#Tax#}
    {% if totals.tax %}
      <div class="sub-total tax-total">
        <span>{% trans %}Tax{% endtrans %}</span>
        {{ totals.tax }}
      </div>
    {% endif %}

    {#Discount#}
    {% if totals.discount %}
      <div class="sub-total discount-total">
        <span>{% trans %}Discount{% endtrans %}</span>
        {{ totals.discount }}
      </div>
    {% endif %}

    {#Shipping#}
    {% if totals.shipping %}
      <div class="sub-total discount-shipping">
        <span>{{ 'Delivery'|t }}</span>
        {% if totals.shipping.value|render %}
          <div class="price-type__wrapper">
            <span class="price-wrapper">
              <div class="price">
                <span class="price-currency suffix"></span>
                <span class="price-amount">{{ totals.shipping.value }}</span>
              </div>
            </span>
          </div>
        {% else %}
          {{ totals.shipping }}
        {% endif %}
      </div>
    {% endif %}

    {#Surcharge#}
    {% if totals.surcharge %}
      <div class="sub-total discount-surcharge">
        <span>{{ surcharge_label }}</span>
        {{ totals.surcharge }}
      </div>
    {% endif %}

    {#Order total#}
    <div class="order-total">
      <span>{% trans %}Order Total{% endtrans %}</span>
      {{ totals.grand }}
    </div>

    {% if delivery is empty %}
      <span class="status">{% trans %}Before Delivery{% endtrans %}</span>
    {% endif %}

    {% if vat_text %}
      <div class = 'vat-text'>
        {{ vat_text }}
      </div>
    {% endif %}
  </div>

  {% if delivery %}
  <div class="delivery-type">
    {{ delivery.label }} <a class="change-delivery" id="checkout-edit-delivery" href="{{ delivery.change_url }}">{{ 'Change'|t }}</a>
    <div class="method">
      {{ delivery.method_name }}
      <br />
      {{ delivery.method_description }}
    </div>
  </div>

  <div class="address">
    {{ delivery.address_label }} <a class="edit-delivery-address" id="checkout-edit-da" href="{{ delivery.edit_url }}">{{ 'Edit'|t }}</a>
    <div class="delivery-address">{{ delivery.address }}</div>
  </div>
  {% endif %}
</div>
