{% if title %}
  <div class="all-stores-info">
    <h3>{{ title }}</h3>
  </div>
{% endif %}

{% if stores %}
  <ul>
    {% for store in stores %}
      <li class="select-store" data-store-code="{{ store.code }}" data-node="{{ store.nid }}" data-index="{{ loop.index }}">
        <div class="store-name-and-address">
          <span class="store-name">{{ store.name }}</span>
          <span class="store-address">{{ store.address|striptags }}</span>
        </div>
        <div class="store-open-hours">{{ store.open_hours }}</div>
        <div class="store-delivery-time"><span class="label--delivery-time">{{ 'Collect in store from'|trans }}</span>{{ store.delivery_time }}</div>
        <div class="store-actions">
          <a href="#" class="select-store">{{ 'select this store'|trans }}</a>
          <a href="#" class="store-on-map">{{ 'View on map'|trans }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

