{% if title %}
  <div class="all-stores-info">
    <h3>{{ title }}</h3>
  </div>
{% endif %}

{% if stores %}
  <ul>
    {% for store in stores %}
      <li>
        <div class="store-name-and-address">
          <span class="store-name">{{ store.name }}</span>
          <span class="store-address">{{ store.address }}</span>
        </div>
        <div class="store-open-hours">{{ store.open_hours }}</div>
        <div class="store-delivery-time">{{ store.delivery_time  }}</div>
        <div class="store-actions">
          <a class="select-store" data-store-code="{{ store.code }}" data-node="{{ store.nid }}">{{ 'select this store'|trans }}</a>
          <a href="{{ store.view_on_map_link }}">{{ 'View on map'|trans }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

