<section class="order-status">
  <div class="container clearfix">
    <h2 class="steps_instruction">{{ 'Online Booking Completed Successfully'|t }}</h2>

    <div class="payment_option">
      <p class="ticket_details">{{ 'We’ve sent you an email and SMS with all the details of your Online Ticket Booking. Please print and present your email at KidZania’ s ticketing counters on the day of your visit. Z-U Soon!'|t }}</p>
    </div>
    <div class="payment_option">
      <p class="reference-number">
        {{ 'Reference Number:'|t }}
        <strong>{{ref_number}}</strong>
      </p>
    </div>
    <div class="payment_option">
      <p>
        {{ 'For safety and liability purposes, all children up to the age of 14 years need to be registered by and adult (18+ Years) at the front desk before they can enter the park.'|t }}
      </p>
    </div>
  </div>
</section>