<div class="acq-mini-cart">
  {% if currency_code_position == before %}
    <span class="total"><span class="prefix">{{ currency_format }}</span>{{ total }}</span>
  {% else %}
    <span class="total">{{ total }}<span class="prefix">{{ currency_format }}</span></span>
  {% endif %}
  <a class="cart-link" href="{{ url('acq_cart.cart') }}"><span class="quantity">{{ quantity }}</span></a>
</div>
