{% extends '@alshaya_white_label/node/node--acq-product--full.html.twig' %}

{% block shortDescBlock %}
  <div class="short-description-wrapper">
    <div class="content--short-description">
      <h2 class="field__label">{{ 'Product Description'|t }}</h2>
      <div class="field__content-wrapper">
        <div class="field__content">
          {% set descCount = 0 %}
          {% for desc in content.description  %}
            {% if desc.value|render %}
              <div class="desc-wrapper">
                {% set descCount = descCount + 1 %}
                {% if desc.label|render %}
                  <div class="desc-label">
                    {{ desc.label }}
                  </div>
                {% endif %}

                <div class="desc-value">
                  {{ desc.value }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% if descCount > 1 %}
          <span class="read-more-description-link">{{ 'Read more'|t }}</span>
          <span class="read-more-description-link-mobile">{{ 'Read more'|t }}</span>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block afterDescription %}
  <div class="content--item-code mobile-only">
    <span class="field__label">{{ 'Item Code'|t }}:</span>
    {{ content.item_code }}
  </div>
{% endblock %}
