<div class="magazine-backfeed mobile-only-block">
  <a class="magazine-back-to-feed" href="/magazine">{{ 'Back to feed'|t }}</a>
</div>
<article{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
<div class="magazine-backfeed">
  <a class="magazine-back-to-feed" href="/magazine">{{ 'Back to feed'|t }}</a>
</div>
