<div class="magazine-page-title">
  {{ content.magazine_page_title }}
</div>

<div class="magazine-backfeed mobile-only-block">
  {{ content.back_to_feed }}
</div>

<article{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content.field_magazine_hero_image }}
    <div class="magazine-article-header-wrapper">
      {{ content|without('back_to_feed', 'magazine_page_title', 'field_magazine_paragraphs', 'field_magazine_shop_the_story', 'field_magazine_hero_image') }}
    </div>
    {{ content.field_magazine_paragraphs }}
    {{ content.field_magazine_shop_the_story }}
  </div>
</article>

<div class="magazine-backfeed">
  {{ content.back_to_feed }}
</div>
