<article{{ attributes }}>
  <a href="{{ url }}">
    <div{{ content_attributes }}>
      {{ content }}
    </div>

    {{ title_prefix }}
    {% if not page %}
      <h3{{ title_attributes }}>{{ label }}
      </h3>
      <div class="read-more">
        <span>{{ 'read the story'|t }}</span>
      </div>
    {% endif %}
    {{ title_suffix }}
  </a>
</article>
