{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% set site_path = content.site_path is defined ? content.site_path : path('<front>') %}
{% block content %}
    {% if site_logo %}
      <h1 class="site-brand-home">
        <a href="{{ site_path }}" title="{{ site_name }}" rel="home" class="logo">
          {% if mobile_site_logo %}
            <picture>
              <source media="(max-width: 767px)" srcset="{{ mobile_site_logo }}">
              <img src="{{ site_logo }}" alt="{{ site_name }}"/>
            </picture>
          {% else %}
            <img src="{{ site_logo }}" alt="{{ site_name }}"/>
          {% endif %}
        </a>
      </h1>
    {% endif %}
{% endblock %}
