<div class="secondary--main--menu" style="display: none">
  <ul class="menu__list menu--one__list secondary--main--menu__list">
    <div class="menu-backdrop"></div>
    {% if (menu_type == 'default') %}
      {% for key1, level1menu in column_tree %}
        {% set level1 = level1menu.l1_object %}
      {{ _self.getlevel1items(level1,level1menu) }}
      {% endfor %}
    {% endif %}
  </ul>
</div>

{% macro getlevel1items(level1,level1menu) %}
  {% set promopanel_class = 'promo-panel--mobile-link' in level1.class ? 'promo-panel--mobile-list' : '' %}
  {% set level_class = level1.term_bg_color == true ? level1.class|merge(['has-bg-color']) : level1.class %}
  {% set level_class = level_class|join(' ') %}
  {% if level_class is not empty %}
    <li class="menu__list-item menu--one__list-item {{ level_class }} {{ promopanel_class }}">
  {% else %}
    <li class="menu__list-item menu--one__list-item {{ promopanel_class }}">
  {% endif %}
      <div class="menu__link-wrapper menu-two__link-wrapper">
        {% set style = '' %}
          {% if level1.tag is not empty %}
            <{{ level1.tag }} class="menu__link menu--one__link {{ level_class }}" style="{{style}}" title="{{ level1.title }}" gtm-menu-title="{{ level1.gtm_menu_title }}" {{ level1.tag_attr }}>{{ level1.title }}</{{ level1.tag }}>
          {% endif %}
      </div>
      {% if level1.below is not empty %}
        {{ alshaya_secondary_main_menu('alshaya_secondary_main_menu_level2', level1menu) }}
      {% endif %}
    </li>
{% endmacro %}
