<ul class="menu__list menu--three__list">
  <div class="level-three__wrapper">
    <span class="back--link"><span class="menu__back"></span> <span>{{ data.title }}</span></span>
    {% for key, level3 in data.below %}
      <li class="menu__list-item menu--three__list-item {{ level3.class|join(' ') }}">
        <div class="menu__link-wrapper menu-two__link-wrapper">
        {% if level3.url.toString is not empty %}
          <a href="{{level3.url}}" class="menu__link menu--three__link {{ level3.class|join(' ') }} {{ level3.sub-nav-class }}" gtm-menu-title="{{ level3.gtm_menu_title }}">{{ level3.title }}</a>
        {% else %}
          <div class="menu__link menu--three__link {{ level3.class|join(' ') }} {{ level3.sub-nav-class }}" gtm-menu-title="{{ level3.gtm_menu_title }}">{{ level3.title }}</div>
        {% endif %}
        </div>
      </li>
    {% endfor %}
  </div>
</ul>
