<!-- CONDITIONAL CSS -->

{% if html_attributes["dir"] == "ltr" %}
  {{ attach_library('pottery_barn_non_trans/ltr_styles') }}
  {{ attach_library('alshaya_white_label/ltr_styles') }}
{% elseif html_attributes["dir"] == "rtl" %}
  {{ attach_library('pottery_barn_non_trans/rtl_styles') }}
  {{ attach_library('alshaya_white_label/rtl_styles') }}
{% endif %}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
{% if inline_css %}
  <style>
    {{ inline_css }}
  </style>
{% endif %}
</head>
<body{{ attributes }}>
<div id="skip">
    <a class="visually-hidden focusable skip-link" href="#main-menu">
        {{ 'Skip to main navigation'|t }}
    </a>
</div>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
{% if inline_js %}
  <script>
    {{ inline_js }}
  </script>
{% endif %}
</html>
