<div class="view-product-item__container">
  <div class="view-product-item__inner-container">
    <div class="view-product-item__image">
      {{ content.field_product_image }}
    </div>
    <div class="view-product-item__share--label">
      <span>{{ share_label }} {{ '+' }}</span>
    </div>
    <div class="view-product-item__sharethis">
      {{ content.sharethis }}
    </div>
  </div>
  <div class="view-product-item__meta">
    {{ content.field_product_label }}
    {{ label }}
  </div>
</div>
