<div class="individual--store">
  <div class="view-content">
    <div class="list-view-locator">
      <div class="back-link">
        {% if previous_page == 'list' %}
          <a href="{{ url('view.stores_finder.page_2') }}">{{ 'Back' | t }}</a>
        {% else %}
          <a href="{{ url('view.stores_finder.page_2') }}">{{ 'Back' | t }}</a>
        {% endif %}
      </div>
      <div>
        <a class="row-title">{{ label }}</a>
        <div class="views-row">
          <div class="views-field-field-store-address">
            <div class="field-content">
              {{ content.field_store_address }}
              {{ content.field_store_phone }}
            </div>
          </div>
          <div class="views-field-field-store-open-hours">
            <div class="field-content">
              {{ content.field_store_open_hours }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map--store">
    {{ content.field_latitude_longitude }}
  </div>
</div>
