{{ attach_library('alshaya_white_label/sizeguide') }}
{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes }}>
  <div class="acq-content-product">
    <div class="content__main">
      {{ content.gallery }}

      {% if content.cross_sell %}
        <div class="horizontal-crossell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal Cross Sell"|t}}</h2>
          {{ content.cross_sell }}
        </div>
      {% endif %}

      {% if content.up_sell %}
        <div class="horizontal-upell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal up Sell"|t }}</h2>
          {{ content.up_sell }}
        </div>
      {% endif %}

      {% if content.related %}
        <div class="horizontal-upell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Related"|t }}</h2>
          {{ content.related }}
        </div>
      {% endif %}

    </div>
    <div class="content__sidebar">
      <div class="basic-details-wrapper">
        <h1>{{ label }}</h1>

        {% if content.final_price %}
          <div class="has--special--price">
        {% else %}
          <div class="price">
        {% endif %}
          {{ content.price }}
        </div>

        {% if content.final_price %}
          <div class="special--price">
            {{ content.final_price }}
          </div>

          <div class="price--discount">
            ({{ content.discount }})
          </div>
        {% endif %}

        <div class="content--item-code">
          <span class="field__label">{{ 'Item Code:'|t }}</span>
          {{ content.item_code }}
        </div>

        {{ content.field_skus }}
      </div>

      <div class="description-wrapper">
        <div class="content--description">
          <span class="close">Close</span>
          <h2 class="field__label">{{ 'Product Description'|t }}</h2>
          {{ content.description }}
        </div>
      </div>

      <div class="short-description-wrapper">
        <div class="content--short-description">
          <h2 class="field__label">{{ 'Product Description'|t }}</h2>
          {{ content.short_description }}
          <span class="read-more-description-link">{{ 'Read more'|t }}</span>
        </div>
      </div>

      {% if sku_out_of_stock %}
        <div class="out-of-stock {{ sku_out_of_stock }}">{{ content.sharethis }}</div>
      {% else %}
        {{ content.sharethis }}
      {% endif %}

      <div class="delivery-options-wrapper">
        <h2 class="field__label">{{ 'Delivery Options'|t }}</h2>
        <div class="content">
          <div class="home-delivery c-accordion-delivery-options">
            <h2 class="c-accordion__title">{{ 'Home Delivery'|t }}<span class="subtitle">{{ 'For orders over KWD99'|t }}</span></h2>
            <div class="c-accordion_content">
              <div class="delivery-option-content standard">
                <span class="delivery-option-title">{{ 'Standard delivery (within 4 working days)'|t }}</span>
                <ul>
                  <li>{{ 'Orders over KWD 1234'|t }} <span>{{ 'FREE'|t }}</span></li>
                  <li>{{ 'Orders under KWD 1234'|t }} <span>{{ 'KWD 123.1234'|t }}</span></li>
                </ul>
              </div>
              <div class="delivery-option-content next-day">
                <span class="delivery-option-title">{{ 'Next day delivery (ordered before 9pm)'|t }}</span>
                <ul>
                  <li>{{ 'All orders'|t }} <span>{{ 'FREE'|t }}</span>/li>
                </ul>
              </div>
            </div>
          </div>
          <div class="click-collect c-accordion-delivery-options">
            <h2 class="c-accordion__title">{{ 'Home Delivery'|t }}<span class="subtitle">{{ 'Collect the order from store in 99 days'|t }}</span></h2>
            <div class="c-accordion_content">
              <div class="delivery-option-content standard">
                <span class="line-1">{{ 'This service is FREE of charge'|t }}</span>
                <span class="line-2">{{ 'Collect the order from store in 99 hours'|t }}</span>
                <form class="search-store">
                  <label>{{ 'Check in-store availability'|t }}</label>
                  <input type="text" name="store-name" placeholder="{{ 'Enter your area'|t }}">
                  <input type="submit" name="search-store" value="{{ 'Search Stores'|t }}">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if content.cross_sell %}
        <div class="horizontal-crossell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal Cross Sell"|t }}</h2>
          {{ content.cross_sell }}
        </div>
      {% endif %}

      {% if content.up_sell %}
        <div class="horizontal-upell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal up Sell"|t }}</h2>
          {{ content.up_sell }}
        </div>
      {% endif %}

      {% if content.related %}
        <div class="horizontal-upell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Related"|t }}</h2>
          {{ content.related }}
        </div>
      {% endif %}

    </div>
  </div>
</article>
