{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<article {{ attributes.addClass(classes) }} {{ gtm_attributes }}>

  <div class="content">
    <a href="{{ url }}">{{ content.image }}</a>

    <h2{{ title_attributes }} class="field--name-name">
      <a href="{{ url }}">{{ label }}</a>
    </h2>

    {% if content.final_price %}
      <div class="has--special--price">
    {% else %}
      <div class="price">
    {% endif %}
      {{ content.price }}
    </div>

    {% if content.final_price %}
      <div class="special--price">
        {{ content.final_price }}
      </div>

      <div class="price--discount">
        {{ content.discount }}
      </div>
    {% endif %}

    {% if content.out_of_stock %}
      <div class="out-of-stock">
        {{ content.out_of_stock }}
      </div>
    {% endif %}

    {% if content.promotions %}
      <div class="promotions">
        {{ content.promotions }}
      </div>
    {% endif %}
  </div>
  <!-- /content -->
</article>
<!-- /article #node -->
