{{ attach_library('alshaya_white_label/sizeguide') }}
{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes }}>
  <div class="acq-content-product">
    <div class="content__main">
      {{ content.gallery }}

      {% if content.cross_sell %}
        <div class="horizontal-crossell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal Cross Sell"|t}}</h2>
          {{ content.cross_sell }}
        </div>
      {% endif %}

      {% if content.up_sell %}
        <div class="horizontal-upell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal up Sell"|t }}</h2>
          {{ content.up_sell }}
        </div>
      {% endif %}

      {% if content.related %}
        <div class="horizontal-upell above-mobile-block">
          <h2 class="subtitle crossell-title">{{ "Related"|t }}</h2>
          {{ content.related }}
        </div>
      {% endif %}

    </div>
    <div class="content__sidebar">
      {{ content.field_skus }}
      {{ content.body }}
      {% if sku_out_of_stock is empty %}
        <div class="out-of-stock {{ sku_out_of_stock }}">{{ content.sharethis }}</div>
      {% else %}
        {{ content.sharethis }}
      {% endif %}

      {% if content.cross_sell %}
        <div class="horizontal-crossell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal Cross Sell"|t }}</h2>
          {{ content.cross_sell }}
        </div>
      {% endif %}

      {% if content.up_sell %}
        <div class="horizontal-upell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Horizontal up Sell"|t }}</h2>
          {{ content.up_sell }}
        </div>
      {% endif %}

      {% if content.related %}
        <div class="horizontal-upell mobile-only-block">
          <h2 class="subtitle crossell-title">{{ "Related"|t }}</h2>
          {{ content.related }}
        </div>
      {% endif %}

    </div>
  </div>
</article>
