{{ attach_library('alshaya_search_api/facets_all_slider') }}

{% if facet_blocks %}
  {% if show_all %}
    <div class="show-all-filters">
      <span class="desktop">{{ 'All Filters'|t }}</span>
      <span class="upto-desktop">{{ 'Filter & Sort'|t }}</span>
    </div>
  {% endif %}
  <div class='all-filters'>
    <div class='filter__head'>
      <div class='facet-all-back' style='display: none;'></div>
      <div class='filter-sort-title'>{{ 'Filter & Sort'|t }}</div>
      <div class='facet-all-apply'></div>
    </div>
    <div class="filter__inner">
      {% for facet_block in facet_blocks %}
        {{ facet_block }}
      {% endfor %}
      <div class='filter__foot'>
        <div class='facet-all-count'></div>
        <div class='facet-all-clear button'></div>
        <a class='facet-all-apply button'>{{ 'Apply Filter'|t }}</a>
      </div>
    </div>
  </div>
{% endif %}
