<div class ="notification">
  <div class="col-1">
    {{ image }}
    {% trans %}Qty{% endtrans %}: <span class = "qty">{{ quantity }}</span>
  </div>
  <div class="col-2">
    <span class ="name">{{ product_name }}</span> {% trans %}has been added to your cart.{% endtrans %}
    <a href="{{ link }}">{{ link_text }}</a>
  </div>
</div>
