<div class ="notification {{ class }}">
  <div class="col-1">
    <img src="{{ image }}"/>
    <span class = "qty">{{ quantity }}</span>
  </div>
  <div class="col-2">
    <span class ="name">{{ product_name }}</span>
    <a href="{{ link }}">{{ link_text }}</a>
  </div>
</div>
