<div class="price-type__wrapper">
{% if final_price %}
  <div class="has--special--price">
{% else %}
  <div class="price">
{% endif %}
  <span class="price-wrapper">
    <div class="price">
      {% if currency_code_position == 'before' %}
        <span class="price-currency suffix">{{ currency_format }}</span>
      {% endif %}
      <span class="price-amount">{{ price }}</span>
      {% if currency_code_position != 'before' %}
        <span class="price-currency suffix">{{ currency_format }}</span>
      {% endif %}
      {% if show_crosssell_as_matchback %}
        <span class="price-suffix-matchback hidden"> {% trans %}each{% endtrans %}</span>
      {% endif %}
    </div>
  </span>
</div>

{% if final_price %}
  <div class="special--price">
    <span class="price-wrapper">
      <div class="price">
        {% if currency_code_position == 'before' %}
          <span class="price-currency suffix">{{ currency_format }}</span>
        {% endif %}
        <span class="price-amount">{{ final_price }}</span>
        {% if currency_code_position != 'before' %}
          <span class="price-currency suffix">{{ currency_format }}</span>
        {% endif %}
        {% if show_crosssell_as_matchback %}
          <span class="price-suffix-matchback hidden"> {% trans %}each{% endtrans %}</span>
        {% endif %}
      </div>
    </span>
  </div>
  <div class="price--discount">
    <span class="discount-prefix">{{ discount.prefix }}</span>
    <span class="discount-value">{{ discount.value }}</span>
  </div>
{% endif %}

{% if promotions is not empty %}
  <div class="cart-promotions">
      <div class="tooltip-wrap">
        <div class="contains--tooltip">
          <div class="tooltip--head">
          </div>
          <div class="tooltip">
            <div class="applied-discounts-title">{{ 'Discount applied' | t }} </div>
            {% for id, promotion in promotions %}
              {% if promotion.label and promotion.description %}
                <div class="promotion-{{ id }}">
                  <div class="promotion-label">
                    <strong>{{ promotion.label }}</strong>
                  </div>
                  <div class="promotion-description">
                    {{ promotion.description.value }}
                  </div>
                </div>
                <br>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
{% endif %}

{% if tooltip is not empty %}
  <div class="simple-tooltip-wrap">
    <div class="tooltip-wrap">
      <div class="contains--tooltip">
        <div class="tooltip--head">
        </div>
        <div class="tooltip">
          {{ tooltip }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>
