<a href="{{ product_url }}">{{ gallery }}</a>

{% if swatches %}
	<div class="swatches">
		{% for key,swatch in swatches %}
			<a href="{{ product_url }}?color={{ key }}">
				<span class='swatch-block' style="background-color:{{ swatch }};"></span>
			</a>
		{% endfor %}
	</div>
{% endif %}

<h2 class="field--name-name">
	<a href="{{ product_url }}">{{ product_label }}</a>
</h2>

<div class="price-block {{ price_block_identifier }}">
	{{ price_block }}
</div>

{% if promotions %}
	<div class="promotions">
		{% for id, promotion in promotions %}
			{% if (promotion.render_link) %}
				<a class="sku-promotion-link" href="{{ path('entity.node.canonical', {'node': id }) }}">
					{{ promotion.text }}
				</a>
			{% else %}
				{{ promotion.text }}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}

{{ stock_placeholder }}
