<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content_class %}
      <div class="{{ content_class }}">
    {% endif %}
      {{ content }}
    {% if content_class %}
      </div>
    {% endif %}
  {% endblock %}
</div>
