{{ attach_library('alshaya_white_label/footer_js') }}
<div class="c-footer-primary">
  <div class="l-container">
    <div class="c-footer-primary__region">

      {% block footer_menu_newsletter %}
      <div class="primary--footer--right">

        <div class="language--switcher mobile-only-block only-first-time" style="display: none;">
          {{ page.footer_primary.languageswitcher_2 }}
          <span class="language-switcher-close"></span>
        </div>
        <div class="language--switcher mobile-only-block">
          {{ page.footer_primary.languageswitcher_2 }}
        </div>

        {{ page.footer_primary.alshayanewslettersubscription }}

        <div class="footer--social above-mobile-block">
          {{ page.footer_primary.sociallinks }}
        </div>

        <div class="language--switcher tablet-only-block">
          {{ page.footer_primary.languageswitcher_2 }}
        </div>

        {{ page.footer_primary|without('alshayanewslettersubscription', 'shopby', 'aboutbrand', 'alshaya_help', 'footerstaticlinks', 'languageswitcher_2', 'sociallinks') }}
      </div>

      <div class="footer--menu">
        {% if page.footer_primary.shopby is not empty %}
        <div class="footer--categories">
          {{ page.footer_primary.shopby }}
        </div>
        {% endif %}

        <div class="footer--abouthelp">
          {{ page.footer_primary.aboutbrand }}
          {{ page.footer_primary.alshaya_help}}
        </div>

        {% if page.footer_primary.footerstaticlinks is not empty %}
        <div class="footer--static-links">
          {{ page.footer_primary.footerstaticlinks }}
        </div>
        {% endif %}

        <div class="footer--social mobile-only-block">
          {{ page.footer_primary.sociallinks }}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
