<section id="step-3" class="ticketing__steps four">
  <div class="container clearfix">
    <div class="steps_count">
      <div class="steps even">
        <div class="step_number">4</div>
        <span class="step_legend">{{ 'Tickets and Visitors'|t }}</span>
      </div>
    </div>
    <div class="steps__information clearfix tablet_view">
      <div id="visitorTypes">Loading...</div>
      <div class="error_block">
        <div class="error-info errorBaby">
          <div class="icon_container">
            <span class="icon kz-info"></span>
          </div>
          {{ 'Note: Infants must be accompanied by an adult.'|t }}
        </div>
        <div class="error-info errorAdult">
          <div class="icon_container">
            <span class="icon kz-info"></span>
          </div>
          {{ 'Note: Adults are allowed entry only if they are accompanying at least 1 child.'|t }}
        </div>
        <div class="error-info errorChildren">
          <div class="icon_container">
            <span class="icon kz-info"></span>
          </div>
          {{ 'Note: Children under 120cm of height, should be accompanied by an Adult.'|t }}
        </div>
        <div class="error-info errorToddler">
          <div class="icon_container">
            <span class="icon kz-info"></span>
          </div>
          {{ 'Note: Children (age 2-3), should be accompanied by an Adult.'|t }}
        </div>
      </div>
      <div class="total_wrapper clearfix" id="totalWrapper">
        <div class="total">{{ 'Total'|t }}</div>
        <div class="total_price"></div>
      </div>
      <div class="next_step">
        <a href="#" class="nextBtn actionBut">
          {{ 'Next'|t }}
          ›
        </a>
      </div>
    </div>
  </div>
</section>
