<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../../../dist/css/global.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/01-site-logo/site-logo.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/04-block-social-links/social-links.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/04-block-social-links/block-social-links.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/05-copyright/copyright.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/06-block-logo-navigation/menu-logo-navigation.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/06-block-logo-navigation/block-logo-navigation.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/07-block-footer-store/block-footer-store.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/08-block-header-store/block-header-store.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/09-block-header-language/block-header-language.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/09-block-header-language/language-switcher.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/10-block-terms-conditions/block-terms-conditions.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/10-block-terms-conditions/menu-terms-conditions.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../dist/css/_patterns/01-molecules/11-sign-up-desktop/block-sign-up-desktop.ltr.css?{{ cacheBuster }}" media="all" />

    {# <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /> #}

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">

