{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

  <article{{ attributes }} {{ gtm_attributes }}>
  <div class="acq-content-product">
    {% block mainContent %}
      <div class="content__main {{ image_slider_position_pdp }}">
        {% if content.gallery is not empty %}
          {{ content.gallery }}
        {% else %}
          <div id="product-zoom-container"></div>
        {% endif %}

        {% include directory ~ '/../alshaya_white_label/templates/partial/product-related.html.twig' %}

      </div>
    {% endblock %}

    {% block contentSidebar %}
      {% block titleBlock %}
        <div class="content__title_wrapper">
          {% if content.brand_logo %}
            <div class="brand-logo-wrapper">
              {{ content.brand_logo }}
            </div>
          {% endif %}

          {% block productBrand %}
          {% endblock %}

          <h1>{{ label }}</h1>

          {% block pricePrefix %}
          {% endblock %}

          <div class="price-block {{ content.price_block_identifier }}">
            {{ content.price_block }}
          </div>

          <div class="promotions promotions-full-view-mode">{% if content.promotions %}{{ content.promotions }}{% endif %}</div>

          {% if vat_text %}
            <div class="vat-text">
              {{ vat_text }}
            </div>
          {% endif %}

          {% block itemCode %}
            <div class="content--item-code">
              <span class="field__label">{{ 'Item Code'|t }}:</span>
              <span class="field__value">{{ content.item_code }}</span>
            </div>
          {% endblock %}

          {% if content.delivery_link is not empty %}
            <div class="delivery">
              {{ content.delivery_link }}
            </div>
          {% endif %}

          <div class="free-gift-promotions free-gift-promotions-full-view-mode">{% if content.free_gift_promotions %}{{ content.free_gift_promotions }}{% endif %}</div>
        </div>
      {% endblock %}

      {% block pdpSidebar %}
        <div class="content__sidebar">
          {% block sizeVolume %}
          {% endblock %}

          <div class="mobile-content-wrapper">
            <div class="basic-details-wrapper">
              {{ content.field_skus }}
            </div>

            {% block shortDescBlock %}
              <div class="short-description-wrapper">
                <div class="content--short-description">
                  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
                  <div class="field__content-wrapper">
                    <div class="field__content">
                      <div class="desc-wrapper">
                        {% if content.short_desc.label|render %}
                          <div class="desc-label">
                            {{ content.short_desc.label }}
                          </div>
                        {% endif %}
                        {% if content.short_desc.value|render %}
                          <div class="desc-value">
                            {{ content.short_desc.value }}
                          </div>
                        {% endif %}
                      </div>
                      {% for desc in content.description %}
                        {% if desc.value|render %}
                          <div class="desc-wrapper">
                            {% if desc.label|render %}
                              <div class="desc-label">
                                {{ desc.label }}
                              </div>
                            {% endif %}

                            <div class="desc-value">
                              {{ desc.value }}
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% if content.description %}
                      {% if content.read_more_style.value|render %}
                        <span class="read-more-description-link" style="{{ content.read_more_style.value }}">{{ 'Read more'|t }}</span>
                        <span class="read-more-description-link-mobile" style="{{ content.read_more_style.value }}">{{ 'Read more'|t }}</span>
                      {% else %}
                        <span class="read-more-description-link">{{ 'Read more'|t }}</span>
                        <span class="read-more-description-link-mobile">{{ 'Read more'|t }}</span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endblock %}

            {% block descBlock %}
              <div class="description-wrapper">
                <div class="content--description">
                  <span class="close"></span>
                  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
                  <div class="field__content">
                    {% for desc in content.description  %}
                      {% if desc.value|render %}
                        <div class="desc-wrapper">
                          {% if desc.label|render %}
                            <div class="desc-label">
                              {{ desc.label }}
                            </div>
                          {% endif %}

                          <div class="desc-value">
                            {{ desc.value }}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="gradient-holder"></div>
              </div>
            {% endblock %}

            {% block afterDescription %}
            {% endblock %}

            {% if content.home_delivery or content.click_and_collect %}
              <div class="delivery-options-wrapper">
                <div class="product-out-of-stock-layer"></div>
                <h2 class="field__label">{{ 'Delivery Options'|t }}</h2>
                <div class="field__content">
                  {{ content.home_delivery }}

                  {% if content.click_and_collect %}
                    {{ content.click_and_collect }}
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {{ content.sharethis }}

          </div>

          {% include directory ~ '/../alshaya_white_label/templates/partial/mobile-product-related.html.twig' %}

        </div>
      {% endblock %}
    {% endblock %}

    {% block desktopCS %}
    {% endblock %}
  </div>
</article>
