{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article {{ attributes.addClass(classes) }}>
  <div class="c-content">
    <div class="l-container {{ show_right_sidebar ? 'l-column--two' : 'l-column--one' }}">
      {% if content.field_banner %}
        <div class="c-content__banner">
          {{ content.field_banner }}
        </div>
      {% endif %}

      {% if content.field_slider %}
        <div class="c-content__slider">
          {{ content.field_slider }}
        </div>
      {% endif %}

      <div class="c-content__container clearfix">
        <div class="c-content__primary">
          <div class="c-content__body">
            {{ content.body }}
            {% if content.field_delivery_banner %}
              {{ content.field_delivery_banner }}
            {% endif %}
            {{ content.field_promo_blocks }}
          </div>
        </div>

        {% if show_right_sidebar %}
          <div class="c-content__secondary c-related-info">
            {{ content.field_related_info }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- /content -->

  {% if content.links.terms %}
    <div class="terms">
      {{ content.links.terms }}
    </div>
    <!-- /terms -->
  {% endif %}

  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div>
    <!-- /links -->
  {% endif %}

  {{ content.comment }}
</article>
<!-- /article #node -->
