{% extends 'node--acq-product--full.html.twig' %}
{% set attributes = attributes.addClass('magazine-layout-node') %}
{% block mainContent %}
  <div class="content__main">
    {% if content.gallery is not null %}
      {{ content.gallery }}
    {% else %}
      <div id="product-zoom-container"></div>
    {% endif %}
  </div>
{% endblock %}
{% block contentSidebar %}
  <div class="content-sidebar-wrapper">
    {% block titleBlock %}
      <div class="content__title_wrapper">
        {% if content.brand_logo %}
          <div class="brand-logo-wrapper">
            {{ content.brand_logo }}
          </div>
        {% endif %}

        {% block productBrand %}
        {% endblock %}

        <h1>{{ label }}</h1>

        {% block pricePrefix %}
        {% endblock %}

        <div class="info-wrapper">
          <div class="price-block {{ content.price_block_identifier }}">
            {{ content.price_block }}
          </div>
          <div class="promotion-discount-wrapper">
            <div class="price--discount discount-{{ content.price_block_identifier }}">
              {% if content.price_block['#discount'] %}
                ({{ content.price_block['#discount'] }})
              {% endif %}
            </div>

            <div class="promotions promotions-full-view-mode">{% if content.promotions %}{{ content.promotions }}{% endif %}</div>
          </div>

          {% if vat_text %}
            <div class="vat-text">
              {{ vat_text }}
            </div>
          {% endif %}
        </div>

        {% if content.delivery_link is not empty %}
          <div class="delivery">
            {{ content.delivery_link }}
          </div>
        {% endif %}

        <div class="free-gift-promotions free-gift-promotions-full-view-mode">{% if content.free_gift_promotions %}{{ content.free_gift_promotions }}{% endif %}</div>

        <div class="basic-details-wrapper">
          {{ content.field_skus }}
          <div class="modal-share-this">
            <span class="share-icon">{{  'Share'|t }}</span>
            <div class="sharethis-container">
              <span class="close-icon"></span>
              <div class="sharethis-label">{{ 'Share'|t }}</div>
              {{ content.sharethis }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block pdpSidebar %}
      <div class="content__sidebar">
        {% block sizeVolume %}
        {% endblock %}

        <div class="mobile-content-wrapper">
          {% block shortDescBlock %}
          {% endblock %}

          {% block descBlock %}
          {% endblock %}

          {% block afterDescription %}
          {% endblock %}

          {% if content.home_delivery or content.click_and_collect %}
            <div class="delivery-options-wrapper">
              <div class="product-out-of-stock-layer"></div>
              <div class="field__content">
                {{ content.home_delivery }}

                {% if content.click_and_collect %}
                  {{ content.click_and_collect }}
                {% endif %}
              </div>
            </div>
          {% endif %}

        </div>

        {% include directory ~ '/../alshaya_white_label/templates/partial/mobile-product-related.html.twig' %}

      </div>
    {% endblock %}
  </div>
<div class="size-tray">
    <div class="size-tray-content">
      <div class="size-tray-buttons"></div>
    </div>
</div>
{% endblock %}

{% block desktopCS %}
  {% include directory ~ '/../alshaya_white_label/templates/partial/product-related.html.twig' %}
{% endblock %}
