{% extends '@alshaya_white_label/partial/footer-primary.html.twig' %}
{% block footer_menu_newsletter %}
  <div class="primary--footer--right">
    <div class="language--switcher mobile-only-block only-first-time" style="display: none;">
      {{ page.footer_primary.languageswitcher_2 }}
      <span class="language-switcher-close"></span>
    </div>
    <div class="language--switcher mobile-only-block">
      {{ page.footer_primary.languageswitcher_2 }}
    </div>

    <div class="footer--menu mobile-only-block">
      <div class="footer--categories">
        {{ page.footer_primary.shopby }}
        
<div id="block-shopby" data-block-plugin-id="alshaya_shop_by_block" class="c-footer-menu--category c-footer-is-accordion block block-alshaya-acm-product-category block-alshaya-shop-by-block">
  
      <h3 class="is-accordion">SHOP BY</h3>
    
      <div class="cols-6 clearfix accordion--body">
      <div class="c-footer-menu">
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-offers/">Men's</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-trending/">Women's</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-face/">Kids</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-body/">Brands</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-makeup/">Collections</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-hair/">Release Calendar</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-fragrance/">New Arrivals</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-gifts/">Clearance</a>
        </div>
          </div></div></div>



      </div>

      <div class="footer--abouthelp">
        {{ page.footer_primary.aboutbrand }}
        {{ page.footer_primary.alshaya_help}}
      </div>
    </div>

    {{ page.footer_primary.alshayanewslettersubscription}}

    <div class="footer--social">
      {{ page.footer_primary.sociallinks }}
    </div>

    <div class="language--switcher tablet-only-block">
      {{ page.footer_primary.languageswitcher_2 }}
    </div>

    {{ page.footer_primary|without('alshayanewslettersubscription', 'shopby', 'aboutbrand', 'alshaya_help', 'languageswitcher_2', 'sociallinks') }}
  </div>

  <div class="footer--menu above-mobile-block">
    <div class="footer--categories">
      {{ page.footer_primary.shopby }}
      <div id="block-shopby" data-block-plugin-id="alshaya_shop_by_block" class="c-footer-menu--category c-footer-is-accordion block block-alshaya-acm-product-category block-alshaya-shop-by-block">
  
      <h3 class="is-accordion">SHOP BY</h3>
    
      <div class="cols-6 clearfix accordion--body">
      <div class="c-footer-menu">
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-offers/">Men's</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-trending/">Women's</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-face/">Kids</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-body/">Brands</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-makeup/">Collections</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-hair/">Release Calendar</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-fragrance/">New Arrivals</a>
        </div>
              <div class="c-footer-menu__tab">
          <a class="menu__link menu--one__link c-footer-menu__link " href="/en/shop-gifts/">Clearance</a>
        </div>
          </div>
  </div>

  </div>
    </div>

    <div class="footer--abouthelp">
      {{ page.footer_primary.aboutbrand }}
      {{ page.footer_primary.alshaya_help}}
    </div>
  </div>
{% endblock %}
