{{ attach_library('alshaya_white_label/free_gifts') }}

<div class="free-gift-view">
  <a href="{{ url }}" class="use-ajax" data-dialog-type="modal" data-dialog-options="{'width': 'auto'}">
    <div class="free-gift-image">
      {{ image }}
    </div>
    <div class="free-gift-title">
      {{ title }}
    </div>
  </a>
  <div class="select-free-gift-link">
    {{ select_link }}
  </div>
</div>
