{% if final_price %}
  <div class="has--special--price">
{% else %}
  <div class="price">
{% endif %}
  <span class="price-wrapper">
    <div class="price">
      {% if currency_code_position == 'before' %}
        <span class="price-currency suffix">{{ currency_format }}</span>
      {% endif %}
      <span class="price-amount">{{ price }}</span>
      {% if currency_code_position != 'before' %}
        <span class="price-currency suffix">{{ currency_format }}</span>
      {% endif %}
    </div>
  </span>
</div>

{% if final_price %}
  <div class="special--price">
    <span class="price-wrapper">
      <div class="price">
        {% if currency_code_position == 'before' %}
          <span class="price-currency suffix">{{ currency_format }}</span>
        {% endif %}
        <span class="price-amount">{{ final_price }}</span>
        {% if currency_code_position != 'before' %}
          <span class="price-currency suffix">{{ currency_format }}</span>
        {% endif %}
      </div>
    </span>
  </div>
  <div class="price--discount">
    {% for id, discount in discounts %}
      {{ discount }}
    {% endfor %}
  </div>
{% endif %}

{% if promotions is not empty %}
  <div class="cart-promotions">
      <div class="tooltip-wrap">
        <div class="contains--tooltip">
          <div class="tooltip--head">
          </div>
          <div class="tooltip">
            {% for id, promotion in promotions %}
              <div class="promotion-{{ id }}">
                <div class="promotion-label">
                  <strong>{{ promotion.text.value }}</strong>
                </div>
                <div class="promotion-description">
                  {{ promotion.description.value | raw }}
                </div>
              </div>
              <br>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
{% endif %}
