{% if currency_code_position == 'before' %}
  <span class="price-wrapper">
    <span class="price-currency prefix">{{ currency_format }}</span>
    <span class="price-amount">{{ price }}</span>
  </span>
{% else %}
  <span class="price-wrapper">
    <span class="price-amount">{{ price }}</span>
    <span class="price-currency suffix">{{ currency_format }}</span>
  </span>
{% endif %}

{% if promotions is not empty %}
  <div class="cart-promotions">
      <div class="tooltip-wrap">
        <div class="contains--tooltip">
          <div class="tooltip--head">
          </div>
          <div class="tooltip">
            {% for id, promotion in promotions %}
              <div class="promotion-{{ id }}">
                <div class="promotion-label">
                  <strong>{{ promotion.text.value }}</strong>
                </div>
                <div class="promotion-description">
                  {{ promotion.description.value | raw }}
                </div>
              </div>
              <br>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
{% endif %}
