{% if currency_code_position == 'before' %}
  <span class="price-wrapper">
    <span class="price-currency prefix">{{ currency_format }}</span>
    <span class="price-amount">{{ price }}</span>
  </span>
{% else %}
  <span class="price-wrapper">
    <span class="price-amount">{{ price }}</span>
    <span class="price-currency suffix">{{ currency_format }}</span>
  </span>
{% endif %}

{%  if  promotions is not empty %}
  <div class="cart-promotions">
    {% for id, promotion in promotions %}
      <div class="tooltip-wrap">
        <div class="contains--tooltip">
          <div class="tooltip--head">
          </div>
          <div class="tooltip">
            {{ promotion.value | raw }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
