<div>
    {% if image is not empty %}
        <div class="image">{{ image }}</div>
    {% endif %}
    <div class="items">
        {% if name is not empty %}
            <span>{{ name }}</span>
        {% endif %}
        {% for sku_attribute in sku_attributes %}
            <span>
                {% trans %}
                {{ sku_attribute.label }}: {{ sku_attribute.value }}
                {% endtrans %}
            </span>
        {% endfor %}
        {% if item_code is not empty %}
            <span>{{ 'Item code'|t }}: {{ item_code }}</span>
        {% endif %}
        {% if include_in_bundle is not empty %}
            <span>{{ include_in_bundle }}</span>
        {% endif %}
        {% if total_price is not empty %}
            <span>{{ total_price }}</span>
        {% endif %}
    </div>
</div>
