<div {{ gtm_attributes }}>
    {% if image is not empty %}
        <div class="image">{{ image }}</div>
    {% endif %}
    <div class="items">
        {% if name is not empty %}
            <div class="dark">{{ name }}</div>
        {% endif %}
        {% for sku_attribute in sku_attributes %}
            <div class="sku-attributes">
                {% trans %}
                {{ sku_attribute.label }}: {{ sku_attribute.value }}
                {% endtrans %}
            </div>
        {% endfor %}
        {% if item_code is not empty %}
            <div><span class="item-code">{{ 'Item code'|t }}</span>: {{ item_code }}</div>
        {% endif %}
        {% if include_in_bundle is not empty %}
            <div class="item--bundle">{{ include_in_bundle }}</div>
        {% endif %}
        {% if total_price is not empty %}
            <div class="mobile-only dark">{{ total_price }}</div>
        {% endif %}
        <div class="free-gift-label">{{ free_gift_label }}</div>
        {%  if  promotions is not empty %}
            <div class="sku-promotions">
              {% for id, promotion in promotions %}
                {% if promotion.text and promotion.skus is empty %}
                  <div class="tooltip-wrap">
                    <a class="sku-promotion-link" href="{{ path('entity.node.canonical', {'node': id }) }}">
                      {{ promotion.text }}
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
        {% endif %}
    </div>
    {%  if  promotions is not empty %}
      <div class="sku-promotions">
        {% for id, promotion in promotions %}
          {% if promotion.sku_entity_id is not empty %}
            <div class="free-gift-promo">
              <div class="gift-message">
                Click <span class="coupon-code">{{ promotion.coupon_code }}</span> to get a Free Gift <span class="free-gift-title"><a class="use-ajax above-mobile-block" data-dialog-type="modal" data-dialog-options='{"width":"auto"}' href="{{ path('alshaya_acm_product.sku_modal', {'acq_sku': promotion.sku_entity_id, 'js': 'nojs'}) }}">{{ promotion.sku_title }}</a></span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
</div>
