<div class="acq-cart-summary">
  <div class="caption">
    <span class="title">{% trans %} Order Summary {% endtrans %}</span>
    <a href="{{ cart_link }}">{% trans %} Edit {% endtrans %}</a>
  </div>
  <div class="content">
    <div class="content-head">{% trans %} Items in your basket {% endtrans %} ({{ number_of_items }})</div>
    <div class="content-items">
      <ul>
        {% for key, product in products %}
          <li>
            <div class="left">
              {{ product.image }}
            </div>
            <div class="right">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-qty">
                <span class="label">{% trans %}Quantity{% endtrans %}: </span>
                {{ product.qty }}
              </span>
              {{ product.total }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="totals">

    {#Sub total#}
    <div class="sub-total">
      <span>{% trans %}Sub total{% endtrans %}</span>
      {{ subtotal }}
    </div>

    {#Tax#}
    {% if tax > 0 %}
      <div class="tax-total">
        {% trans %}Tax{% endtrans %}
        {{ tax }}
      </div>
    {% endif %}

    {#Discount#}
    {% if discount > 0 %}
      <div class="discount-total">
        {% trans %}Discount{% endtrans %}
        {{ discount }}
      </div>
    {% endif %}

    {#Order total#}
    <div class="order-total">
      <span>{% trans %}Order Total{% endtrans %}</span>
      {{ ordertotal }}
    </div>
    <span class="status">{% trans %}Before Delivery{% endtrans %}</span>
  </div>

  {% if delivery_method %}
  <div class="delivery-type">
    {{ delivery_label }} <a href="{{ shipping_url }}">{% trans %}Change{% endtrans %}</a>
    <div class="method">{{ delivery_method }}</div>
  </div>
  {% endif %}

  {% if delivery_address %}
  <div class="address">
    {{ address_label }} <a href="{{ shipping_url }}">{% trans %}Edit{% endtrans %}</a>
    <div class="delivery-address">{{ delivery_address }}</div>
  </div>
  {% endif %}
</div>
