{% if card_info.expired %}
<div class="payment-card error">
{% else %}
<div class="payment-card">
{% endif %}
  <div class="payment-card--data">
    <div class="payment-card--type {{ card_info.paymentMethod|lower }}"></div>
    <div class="payment-card--info">
      <div class="label">{{ "card number"|t }}</div>
      <div class="payment-card--number">&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{ card_info.maskedCC }}</div>
      <div class="label">{{ "name of card holder"|t }}</div>
      <div class="payment-card--name">{{ card_info.name }}</div>
      <div class="label">{{ "expiry"|t }}</div>
      <div class="payment-card--expiry">{{ card_info.expirationDate }} </div>
    </div>
  </div>
  <div class="payment-card--options">
    <div class="payment-card--delete payment-card--controls">{{ link(delete_operation.title, delete_operation.url) }}</div>
  </div>
</div>
