<div class="saved-card">
  <div class="name-number">
    {% if card_info.maskedCC %}
      <div class="card-number">&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{ card_info.maskedCC }}</div>
    {% endif %}
  </div>
  <div class="actions">
    {% if not card_info.expired %}
      <div class="label">{{ "expires on"|t }}</div>
      <div class="card-expiry-date">{{ card_info.expirationDate }}</div>
    {% else %}
      <div class="label card-expired">{{ "expired"}}</div>
    {% endif %}
  </div>

  {% if card_info.expired %}
    <div class="warning">
      {{ "You card has expired. Please delete the card from payment cards section in My Account."|t }}
    </div>
  {% endif %}
</div>
