<div class="content--short-description">
  <h2 class="field__label">{{t 'Product Description' }}</h2>
  <div class="field__content-wrapper">
    <div class="field__content">
      <div class="desc-wrapper">
        {{#if label }}
          <div class="desc-label">
            {{ label }}
          </div>
        {{/if}}
        {{#if value }}
          <div class="desc-value">
            {{ value }}
          </div>
        {{/if}}
      </div>
        {{#with description}}
        <div class="desc-wrapper">
          {{#if label }}
            <div class="desc-label">
              {{ label }}
            </div>
          {{/if}}
          <div class="desc-value">
            <p>
              {{{ html }}}
            </p>

            {{#if show_product_detail_title }}
              <h3>{{t 'Product Detail' }}</h3>
            {{/if}}

            {{#if composition }}
              <p>{{ composition }}</p>
            {{/if}}

            {{#if washing_instructions }}
              <p>{{ washing_instructions }}</p>
            {{/if}}

            {{#if article_warning }}
              <p>{{ article_warning }}</p>
            {{/if}}

            {{#if product_guide }}
              <p>{{{ product_guide }}}</p>
            {{/if}}

            {{#if legal_notice.enabled }}
            <div class="legal-notice desc-wrapper">
              <div class="desc-label">
                {{ legal_notice.label }}
              </div>
              <div class="desc-value">
                {{ legal_notice.summary }}
              </div>
            </div>
            {{/if}}

            <h3>{{t 'Product No' }}</h3>
            <p>{{ sku }}</p>
          </div>
        </div>
      {{/with}}
    </div>
    {{#if read_more }}
      <span class="read-more-description-link-mobile">{{t 'Read more' }}</span>
    {{/if}}
  </div>
</div>
