<!-- CONDITIONAL CSS -->

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <meta name="google" value="notranslate">
    <link rel="apple-touch-icon" href="{{ base_path }}/{{ active_theme_path() }}/site-logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/{{ active_theme_path() }}/site-logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/{{ active_theme_path() }}/site-logo.png">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ base_path }}/{{ active_theme_path() }}/site-logo.png">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes }}>
<div id="skip">
    <a class="visually-hidden focusable skip-link" href="#main-menu">
        {{ 'Skip to main navigation'|t }}
    </a>
</div>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
{% if inline_css %}
  <style>
    {{ inline_css }}
  </style>
{% endif %}
{% if inline_js %}
  <script>
    {{ inline_js }}
  </script>
{% endif %}
</html>
