{{ attach_library('alshaya_white_label/cart_js') }}
{% set attributes = attributes.addClass('user-page', 'l-one--w', 'checkout-login', 'checkout') %}
<div>
  <!-- ______________________ BREADCRUMB _______________________ -->

  {% if page.breadcrumb %}
    <div class="c-breadcrumb">
      <div class="l-container">
        <div class="c-breadcrumb__region">
          {{ page.breadcrumb }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- /breadcrumb -->

  <!-- ______________________ MAIN _______________________ -->
  <div class="site-brand-wrapper">
    <div class="site-brand-home">
      <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home" class="logo">
        <img src="{{ site_logo }}" alt="{{ site_name }}"/>
      </a>
    </div>
  </div>

  <div class="clearfix page-wrapper">
    <div{{ attributes.addClass('l-container') }}>
      <main>
        <div class="c-content">
          <a class="back-link" href="javascript:window.history.back()"></a>
          <div class="c-content__region">
            {{ page.content }}
          </div>
        </div>
        {{ feed_icons }}
      </main>
      <!-- /content-inner /content -->
    </div>
  </div>
  <!-- /main -->

  <!-- ______________________ Post content _______________________ -->

  {% if page.post_content %}
    <div class="c-post-content">
      <div class="l-container">
        <div class="c-post-content__region">
          {{ page.post_content }}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- ______________________ FOOTER SECONDARY _______________________ -->
  <footer class="c-footer">
    {% if page.footer_secondary %}
      <div class="c-footer-secondary">
        <div class="l-container">
          <div class="c-footer-secondary__region">
            {{ page.footer_secondary }}
          </div>
        </div>
      </div>
      <!-- /footer-secondary -->
    {% endif %}
    <footer>

</div>
<!-- /page -->
