<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">

    <link rel="stylesheet" href="../../../../components/dist/css/sass/reset.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/sass/global.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../dist/css/global.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/00-header-primary/block-logo-navigation/menu-logo-navigation.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/00-header-primary/block-logo-navigation/block-logo-navigation.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../dist/css/01-molecules/00-header-primary/block-logo-navigation/menu-logo-navigation.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/01-header-secondary/block-header-store/block-header-store.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/01-header-secondary/block-header-language/block-header-language.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/01-header-secondary/block-header-language/language-switcher.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/01-header-secondary/block-header-sign-up/block-header-sign-up.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/02-header-tertiary/block-site-logo/block-site-logo.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/02-header-tertiary/block-sub-navigation/block-sub-navigation.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/02-header-tertiary/block-sub-navigation/menu-sub-navigation.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/03-footer-primary/block-footer-store/block-footer-store.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-join-the-club/block-join-the-club.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/03-footer-primary/block-social-links/block-social-links.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/03-footer-primary/block-social-links/menu-social-links.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/04-footer-secondary/block-terms-conditions/block-terms-conditions.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/04-footer-secondary/block-terms-conditions/menu-terms-conditions.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/04-footer-secondary/block-copyright/block-copyright.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-application-links/block-application-links.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-application-links/item-list-application-links.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/03-footer-primary/block-footer-language/block-footer-language.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-todays-offer/block-todays-offer.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-todays-offer/paragraph-offers-bordered.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/05-footer-tertiary/block-todays-offer/block-content-todays-offer.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/block-store-finder-form/block-store-finder-form.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/view-store-finder-glossary/view-store-finder-glossary.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/view-store-finder-glossary/views-unformatted-store-finder-glossary.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-promo-one-row-one-col-two-row-two-col/promo-one-row-one-col-two-row-two-col.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-promo-one-row-three-col/promo-one-row-three-col.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-promo-block/field-promo-block.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-slider/field-slider.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-banner/paragraph-banner.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-store-open-hours/field-store-open-hours.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/02-organisms/00-node-individual-store/individual-store.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-banner-full-width/paragraph-banner-full-width.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/02-organisms/01-view-store-finder-list/views-store-finder-list.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/02-organisms/01-view-store-finder-list/views-store-list-locator.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/block-stay-in-the-know/block-stay-in-the-know.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-product-listing/node-product-item.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-product-listing/views-unformatted-product-list.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-product-listing/field-product-listing.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-image-title-subtitle/paragraph-image-title-subtitle.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/paragraph-title-textarea/paragraph-title-textarea.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/block-admin-tabs/block-admin-tabs.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/block-admin-tabs/menu-admin-task.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/status-message/status-message.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/07-forms/input-password/input-password.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/07-forms/form-element-textual/form-element-textual.ltr.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/08-modal/modal-generic/modal-generic.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/08-modal/modal-email-signup/modal-email-signup.ltr.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../components/dist/css/_patterns/01-molecules/06-content/field-promo-block/field-promo-block.ltr.css?{{ cacheBuster }}" media="all" />

    {# <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /> #}

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
