{% extends "@alshaya_product_zoom/product_zoom.html.twig" %}

{% block modalGallery %}
  <div id="product-image-gallery-container" class="imagegallery" style="display: none;">
    <div class="imagegallery__wrapper thumbnail-count-{{ thumbnails|length }}">
      {% set firstItem = thumbnails | first %}
      <div id="full-image-wrapper" class="imagegallery__full" style="width: 100%; height: 700px; overflow: hidden;">
        {% if firstItem.type == 'youtube' %}
          <img class="imagegallery__full__video" width='{{ firstItem.width }}' height='{{ firstItem.height }}' src="{{ firstItem.thumburl }}"/>
        {% elseif firstItem.type == 'vimeo' %}
          <img class="imagegallery__full__video" width='{{ firstItem.width }}' height='{{ firstItem.height }}' src=""/>
        {% else %}
          <img class="imagegallery__full__image" style="max-width: none;" id="full-image" src="{{ firstItem.fullurl }}" alt="{{ firstItem.label }}" title="{{ firstItem.label }}"/>
        {% endif %}
      </div>
      <div class="yt-vi-container cloudzoom__video_modal"></div>
      <ul id="product-image-gallery" class="imagegallery__thumbnails {{ pager_flag }}">
        {% for thumbs in thumbnails %}
          {% if thumbs.type == 'youtube' %}
            <li data-iframe="{{ thumbs.url }}" class="imagegallery__thumbnails__video youtube">
              <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}"/>
            </li>
          {% elseif thumbs.type == 'vimeo' %}
            <li data-iframe="{{ thumbs.url }}" class="imagegallery__thumbnails__video vimeo">
              <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}"/>
            </li>
          {% else %}
            <li>
              <a href="{{ thumbs.fullurl }}" class="imagegallery__thumbnails__image a-gallery">
                <img src="{{ thumbs.thumburl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}"/>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="button__wrapper">
      <button class="zoomin"></button>
      <button class="zoomout"></button>
    </div>
  </div>
{% endblock %}