{% set title_attributes = title_attributes.addClass('google_page_speed--title') %}
{%
    set classes = [
    'block',
    'google_page_speed_data',
]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="inner__container">
        {{ title_prefix }}
        {% if block_title %}
            <h2{{ title_attributes }}>{{ block_title }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            <div class="interpreting__guide--content">
                {{ content }}
                <select id = 'gps-metric-select'>
                    {% for id,metric in metrics %}
                        {% if id == 'pf_score' %}
                            <option selected value = {{ id }}>{{ metric }}</option>
                        {% else %}
                            <option value = {{ id }}>{{ metric }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id = 'gps-device-select'>
                    <option value="mobile">{{ 'Mobile' |t }} </option>
                    <option value="desktop" selected>{{ 'Desktop' |t }}</option>
                </select>
                <select id = 'gps-time-select'>
                    <option value="one-week">{{ 'Last 1 week'|t }}</option>
                    <option value="one-month" selected="selected">{{ 'Last 1 month'|t }}</option>
                    <option value="three-month">{{ 'Last 3 months'|t }}</option>
                    <option value="one-year">{{ 'Last 1 year'|t }}</option>
                    <option value="all-time">{{ 'All time'|t }}</option>
                </select>
                <div id="google-page-speed-chart-wrapper"></div>.
            </div>
        {% endblock %}
    </div>
</div>
