{{ attach_library('google_page_speed/google-chart-loader') }}
{{ attach_library('google_page_speed/google_page_speed') }}
{% set title_attributes = title_attributes.addClass('google_page_speed--title') %}
{%
    set classes = [
    'block',
    'google_page_speed_data',
]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="inner__container">
        {{ title_prefix }}
        {% if block_title %}
            <h2{{ title_attributes }}>{{ block_title }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            <div class="interpreting__guide--content">
                {{ content }}
                <select id = 'gps-metric-select'>
                    {% for id,metric in metrics %}
                        {% if id == 1 %}
                            <option selected value = {{ id }}>{{ metric }}</option>
                        {% else %}
                            <option value = {{ id }}>{{ metric }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id = 'gps-screen-select'>
                    <option value="mobile">Mobile</option>
                    <option value="desktop" selected>Desktop</option>
                </select>
                <select id = 'gps-time-select'>
                    <option value="one-week">Last 1 week</option>
                    <option value="one-month" selected="selected">Last 1 month</option>
                    <option value="three-month">Last 3 months</option>
                    <option value="one-year">Last 1 year</option>
                    <option value="all-time">All time</option>
                </select>
                <div id="chart_div" style="width:100%; height:500px"></div>.
            </div>
        {% endblock %}
    </div>
</div>
