{% if title %}
  <div class="all-stores-info">
    <h3>{{ title }} <span class="selected-store-location"></span></h3>

  </div>
{% endif %}

{% if stores %}
  <ul>
    {% for store in stores %}
      <li class="select-store" data-store-code="{{ store.code }}" data-node="{{ store.nid }}" data-index="{{ loop.index }}">
        <div class="store-name-and-address">
          <span class="store-name">{{ store.name }}</span>
          <span class="store-address">{{ store.address|raw }}</span>
        </div>
        <div class="store-open-hours">
          <div class="hours--wrapper selector--hours">
              <div class="hours--label">{{ 'Opening Hours'|t }}</div>
              <div class="open--hours">
                {% for item in store.open_hours %}
                  <div>
                    <span class="key-value-key">{{ item.key }}</span>
                    <span class="key-value-value">{{ item.value }}</span>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
        <div class="store-delivery-time">
          <span class="label--delivery-time">{{ 'Collect in store from'|t }}</span>
          <span class="delivery--time--value">{{ store.delivery_time }}</span>
        </div>
        <div class="store-actions" gtm-store-address="{{ store.address|striptags }}" gtm-store-title="{{ store.name }}">
          <a href="#" class="select-store">{{ 'select this store'|t }}</a>
          <a onclick="mapsApp({{ store.lat }}, {{ store.lng }})" class="view-on-map mobile-only">{{ 'View on map'|t }}</a>
          <a href="#" class="store-on-map desktop-only">{{ 'View on map'|t }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
