<span class="close-inline-modal"></span>

{% if title %}
  <div class="all-stores-info">
    <h3>{{ title }}</h3>
  </div>
{% endif %}
<div class="text">
  {{ help_text|raw }}
  <div class="available_store">
    <div class="available-store-text">
      <span class="store-available-at-title">{{ available_at_title }}</span>
      <div class="google-store-location"></div>
      <div class="change-location" style="display: none;">
        <input type="textfield" name="store-location" class="change-store-location"/>
        <button type="button" name="cancel-change-location" id="cancel-change-location" class="cancel-change-location"></button>
      </div>
      <div class="change-location-link">{{ 'change'|t }}</div>
    </div>
  </div>
  <p>{{ subtitle }}</p>
  <div class="store-finder-form-wrapper" style="display: none;">
    <div id="all-stores-search-store" class="search-store">{{ store_finder_form }}</div>
  </div>
</div>

<div class="stores-list-all">
{% if stores %}
  <ul>
    {% for store in stores %}
      <li>
        <div class="store-low-stock">{{ store.low_stock_text }}</div>
        <div class="store-name">{{ store.name }}</div>
        <div class="store-address">{{ store.address|raw }}</div>
        <div class="store-delivery-time">{{ store.delivery_time  }}</div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
</div>

