{% if stores %}
  <ul>
    {% for store in stores %}
      <li>
        <div class="store-sequence">{{ store.sequence }}</div>
        <div class="store-info-wrap">
          <div class="store-name">{{ store.name }}</div>
          <div class="store-address">{{ store.address|raw }}</div>
          <div class="store-delivery-time">{{ store.delivery_time  }}</div>
          <div class="store-low-stock">{{ store.low_stock_text }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if has_more %}
  <div class="other-stores-link">
    {{ has_more }}
  </div>
{% endif %}
