<div id="pdp-stores-container" class="click-collect c-accordion-delivery-options" data-sku="{{ sku }}" data-sku-clean="{{ sku|clean_class }}" data-product-type="{{ type }}" data-state="{{ state }}">
  <h3 class="c-accordion__title">
    {% if title %}
      {{ title }}
      <span class="subtitle">{{ subtitle }}</span>
    {% endif %}
  </h3>
  <div class="c-accordion_content">
    {% if type == 'configurable' %}
      <div class="click-collect-empty-selection">
        <div class="text">
          {{ help_text|raw }}
          <div class="select-size-text">{{ select_option_text|raw }}</div>
        </div>
      </div>
      <div class="click-collect-form" style="display: none;">
    {% else %}
      <div class="click-collect-form">
    {% endif %}
      <div class="text">
        {{ help_text|raw }}
        <div class="available_store">
          <div class="available-store-text" style="display: none;">
            <span class="store-available-at-title">{{ available_at_title }}</span>
            <div class="google-store-location"></div>
            <div class="change-location" style="display: none;">
              <input type="textfield" name="store-location" class="change-store-location"/>
              <button type="button" name="cancel-change-location" id="cancel-change-location" class="cancel-change-location"></button>
            </div>
            <div class="change-location-link">{{ 'change'|t }}</div>
          </div>
        </div>
        <div class="store-finder-form-wrapper" style="display: none;">
          <div id="search-store" class="search-store">{{ store_finder_form }}</div>
        </div>
      </div>
    </div>

    <div class="click-collect-top-stores"></div>
  </div>
</div>

<div class="click-collect-all-stores inline-modal-wrapper" id="click-collect-all-stores"></div>

