{% if steps.bagclass %}
<div>
  <div class="steps {{ steps.bagclass }}"><a href = "/cart">{{ "Bag"|t({}, {'context' : 'tracker'}) }}</a></div>
  <div class="steps {{ steps.signinclass }}"><a href = "/cart/login">{{ "Sign in"|t({}, {'context' : 'tracker'}) }}</a></div>
  <div class="steps {{ steps.checkoutclass }}"><a href = "/checkout">{{ "Delivery"|t({}, {'context' : 'tracker'}) }}</a></div>
  <div class="steps {{ steps.deliveryclass }}">{{ "confirmation"|t({}, {'context' : 'tracker'}) }}</div>
</div>
{% endif %}
