{% set currentstepcount = stepMap[activeMapKey].stepcount %}
<div class="cko-progress-tracker">
  <div class="step-{{ currentstepcount }}" id="checkout-progress" data-current-step="{{ currentstepcount }}">
    <div class="progress-bar">
    {% for key,step in stepMap %}
      {% if key == activeMapKey %}
        <div class="step step-{{ step.stepcount }} current">
          <a href = "{{ step.url }}">
            <span> {{ step.stepcount }}</span>
            <div class="step-label">{{ step.label }}</div>
          </a>
        </div>
      {% else %}
        {% if step.stepcount < currentstepcount %}
          <div class="step step-{{ step.stepcount }} completed">
        {% else %}
          <div class="step step-{{ step.stepcount }}">
        {% endif %}
        {% if step.url is empty %}
          <span> {{ step.stepcount }}</span>
          <div class="step-label">{{ step.label }}</div>
        {% else %} 
          <a href = "{{ step.url }}">
            <span> {{ step.stepcount }}</span>
            <div class="step-label">{{ step.label }}</div>
          </a>
        {% endif %}  
        </div>
      {% endif %}    
    {% endfor %}
    </div>
  </div>
</div>
