<div class="cko-progress-tracker">
  <div class="step-{{ steps.stepcount }}" id="checkout-progress" data-current-step="{{ steps.stepcount }}">
    <div class="progress-bar">
      <div class="step step-1 {{ steps.bagclass }}">
        <a href = "/cart">
          <span> 1</span>
          <div class="step-label">{{ "Bag"|t({}, {'context' : 'alshaya_checkout_tracker'}) }}</div>
        </a>
      </div>
      <div class="step step-2 {{ steps.signinclass }}">
        <a href = "/cart/login">
          <span> 2</span>
          <div class="step-label">{{ "Sign in"|t({}, {'context' : 'alshaya_checkout_tracker'}) }}</div>
        </a>
      </div>
      <div class="step step-3 {{ steps.checkoutclass }}">
        <a href = "/checkout">
          <span> 3</span>
          <div class="step-label">{{ "Delivery"|t({}, {'context' : 'alshaya_checkout_tracker'}) }}</div>
        </a>
      </div>
      <div class="step step-4 {{ steps.deliveryclass }}">
        <span> 4</span>
        <div class="step-label">{{ "confirmation"|t({}, {'context' : 'alshaya_checkout_tracker'}) }}</div>
      </div>
    </div>
  </div>
</div>
