{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{% if brand_details %}
  <ul{{ attributes }}>
    {% for brand in brand_details %}
      <li>
        <a href="{{ brand.link }}">
          <img src="{{ file_url(brand.image) }}" alt="{{ brand.title }}"/>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
