{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{% if brand_details %}
  <main class="grid">
    {% for brand in brand_details %}
      <a href="{{ brand.link }}">
        <img src="{{ file_url(brand.image) }}" alt="{{ brand.title }}"/>
      </a>
    {% endfor %}
  </main>
{% endif %}
