{{#if this}}
  <ul>
    {{#each this as |menuItem|}}
      <li>
        {{! Render link if its clickable.}}
        {{#if menuItem.clickable}}
          <a href="{{menuItem.url}}" class="lhn-{{menuItem.level}} {{menuItem.active}}">{{menuItem.name}}</a>
        {{else}}
          <span class="lhn-{{menuItem.level}} {{menuItem.active}}">{{menuItem.name}}</span>
        {{/if}}
        {{{render 'lhn_menu' menuItem.child}}}
      </li>
    {{/each}}
  </ul>
{{/if}}
