{% set attributes = attributes.addClass('user-page', 'l-one--w', 'checkout-login', 'order-confirmation') %}
<div>

    <!-- ______________________ BREADCRUMB _______________________ -->

    {% if page.breadcrumb %}
        <div class="c-breadcrumb">
            <div class="l-container">
                <div class="c-breadcrumb__region">
                    {{ page.breadcrumb }}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- /breadcrumb -->

    <!-- ______________________ MAIN _______________________ -->
     <h1 class="site-brand-home">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
        <img src="/themes/custom/alshaya_white_label/mothercare-logo.svg" alt="{{ 'Home'|t }}"/>
      </a>
    </h1>
    <div class="clearfix page-wrapper">
        <div{{ attributes.addClass('l-container') }}>
            <main>

                <div class="c-content">
                    <div class="c-content__region">
                        {{ page.content }}
                    </div>
                </div>

                {{ feed_icons }}

            </main>
            <!-- /content-inner /content -->

        </div>
    </div>
    <!-- /main -->

    <!-- ______________________ Post content _______________________ -->

    {% if page.footer_secondary %}
        <div class="c-footer-secondary">
            <div class="l-container">
                <div class="c-footer-secondary__region">
                    {{ page.footer_secondary }}
                </div>
            </div>
        </div>
        <!-- /footer-secondary -->
    {% endif %}


</div>
<!-- /page -->
