<div {{ attributes.setAttribute('id', 'pg__c') }}>

  <!-- ______________________ MENU SECONDARY _______________________ -->

  {% if page.menu_secondary %}
    <div id="menu-secondary">
      <div class="cog--mq mq-menu-secondary">
        <div id="menu-secondary-region">
          {{ page.menu_secondary }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- /menu-secondary -->

  <!-- ______________________ HEADER _______________________ -->

  {% if page.header %}
    <header id="header">
      <div class="cog--mq mq-header">
        <div id="header-region">
          {{ page.header }}
        </div>
      </div>
    </header>
  {% endif %}
  <!-- /header -->

  <!-- ______________________ MENU PRIMARY _______________________ -->

  {% if page.menu_primary %}
    <div id="menu-primary">
      <div class="cog--mq mq-menu-primary">
        <div id="menu-primary-region">
          {{ page.menu_primary }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- /menu-primary -->

  <!-- ______________________ BREADCRUMB _______________________ -->

  {% if page.breadcrumb %}
    <div id="breadcrumb">
      <div class="cog--mq mq-breadcrumb">
        <div id="breadcrumb-region">
          {{ page.breadcrumb }}
        </div>
      </div>
    </div>
  {% endif %}
  <!-- /breadcrumb -->

  <!-- ______________________ Pre content _______________________ -->
  {% if page.pre_content %}
    <div class="clearfix pre-content" id="pre-content">
      <div class="cog--mq mq-precontent">
        {{ page.pre_content }}
      </div>
    </div>
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div class="clearfix" id="main">
    <div class="cog--mq mq-main">

      {% if page.sidebar_first %}
        <aside class="sidebar-first sidebars" id="sidebar-first">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

      <section id="content">

        {% if title or messages or tabs or action_links %}
          <div id="content-header">

            {% if page.highlighted %}
              <div id="highlighted">{{ page.highlighted }}</div>
            {% endif %}

            {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ messages }}
            {{ page.help }}

            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

          </div>
          <!-- /#content-header -->
        {% endif %}

        <div id="content-area">
          {{ page.content }}
        </div>

        {{ feed_icons }}

      </section>
      <!-- /content-inner /content -->

      {% if page.sidebar_second %}
        <aside class="sidebar-second sidebars" id="sidebar-second">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

    </div>
    <!-- /cog--mq -->
  </div>
  <!-- /main -->

  <!-- ______________________ Post content _______________________ -->

  {% if page.post_content %}
    <div class="clearfix post-content" id="post-content">
      <div class="cog--mq mq-postcontent">
        {{ page.post_content }}
      </div>
    </div>
  {% endif %}

  <!-- ______________________ FOOTER PRIMARY _______________________ -->

  {% if page.footer_primary %}
    <div id="footer-primary">
      <div class="cog--mq mq-footer-primary">
        {{ page.footer_primary }}
      </div>
    </div>
    <!-- /footer-primary -->
  {% endif %}

  <!-- ______________________ FOOTER SECONDARY _______________________ -->

  {% if page.footer_secondary %}
    <div id="footer-secondary">
      <div class="cog--mq mq-footer-secondary">
        {{ page.footer_secondary }}
      </div>
    </div>
    <!-- /footer-secondary -->
  {% endif %}


</div>
<!-- /page -->
