{{t 'One item of choice from' }}
<a
  href="{{ freeGiftPromoUrl }}"
  data-sku="{{ freeGiftSku }}"
  data-promotion-title="{{ freeGiftPromotionTitle }}"
  data-style-code="{{ styleCode }}"
  class="free-gift-modal"
  data-dialog-type="modal"
  data-dialog-options='{"width":"auto"}'
>
  {{ freeGiftPromotionTitle }}
</a>
{{t 'with this product' }}
