<div class="free-gift-view">
  <a
    href="{{ url }}"
    data-sku="{{ freeGiftSku }}"
    data-back-to-collection="{{ backToCollection }}"
    data-promotion-title="{{ promoTitle }}"
    data-style-code="{{ styleCode }}"
    class="free-gift-modal"
    data-dialog-type="modal"
    data-dialog-options="{'width': 'auto'}">
    <div class="item-wrapper">
      {{#if freeGiftImage }}
        <div class="free-gift-image">
          <img src="{{ freeGiftImage }}" title="{{ freeGiftImageTitle }}" alt="{{ freeGiftImageTitle }}"
            typeof="foaf:Image" loading="lazy">
        </div>
      {{/if}}
      {{#if title }}
        <div class="free-gift-title">
          {{ title }}
        </div>
      {{/if}}
    </div>
  </a>
  {{#if (and selectLink (eq freeGiftItem.type_id 'simple')) }}
    <div class="select-free-gift-link">
      <a
        id="select-add-free-gift"
        class="select-free-gift"
        href="#"
        data-variant-sku="{{ freeGiftSku }}"
        data-sku-type="{{ freeGiftItem.type_id }}"
        data-coupon="{{ couponCode }}"
        data-parent-sku="{{ freeGiftParentSku }}"
        data-promo-rule-id="{{ promoRuleId }}"
      >
        {{t 'select' }}
      </a>
    </div>
  {{/if}}
</div>
