<div class="free-gift-view">
  <a
    href="{{ url }}"
    data-sku="{{ freeGiftSku }}"
    data-back-to-collection="{{ backToCollection }}"
    data-promotion-title="{{ promoTitle }}"
    data-style-code="{{ styleCode }}"
    class="free-gift-modal"
    data-dialog-type="modal"
    data-dialog-options="{'width': 'auto'}">
    <div class="item-wrapper">
      {{#if freeGiftImage }}
        <div class="free-gift-image">
          <img src="{{ freeGiftImage }}" title="{{ freeGiftImageTitle }}" alt="{{ freeGiftImageTitle }}"
            typeof="foaf:Image" loading="lazy">
        </div>
      {{/if}}
      {{#if title }}
        <div class="free-gift-title">
          {{ title }}
        </div>
      {{/if}}
    </div>
  </a>
  {{#if select_link }}
    <div class="select-free-gift-link">
      {{ select_link }}
    </div>
  {{/if}}
</div>
