<div class ="notification">
  <div class="col-1">
    {{ image }}
  </div>
  <div class="col-2">
    <span class ="name">{{ product_name }}</span>
    <span class="qty-label">{% trans %}Qty{% endtrans %}:</span><span class = "qty">{{ quantity }}</span>
    <span class="sub-text">{% trans %}has been added to your cart.{% endtrans %}</span>
    <a href="{{ link }}">{{ link_text }}</a>
  </div>
</div>
