<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <style type="text/css">
        body {font-family: Arial, helvetica; font-size: 13px; line-height: 1.31; color: #666;}
        h1 {font-size: 24px; color: #003773; border-bottom: 1px solid #ddd; padding-bottom: 15px;}
        a { color: #0d6fc0; text-decoration: none;}
        .bold { font-weight: bold; }
        .button { background: #ff6d22; color: #fff; padding: 10px 30px; margin: 10px 0; display: inline-block;}
        p { margin-bottom: 16px;}
        #center {min-height: 200px; padding: 0 25px;}
        #header {border-bottom: 1px solid #ddd; padding: 25px 25px 40px 25px; margin-bottom: 23px;}
        @media only screen and (max-device-width: 480px) {
          #header {padding: 10px 7px; margin-bottom: 21px;}
          #header img {width: 160px;}
          #center {padding: 0 7px}
          h1 {font-size: 18px; padding-bottom: 10px}
        }
      </style>
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="header">
      <img src="{{ site_base_path ~ directory }}/mothercare-logo.png" width="281px"/>
    </div>
    <div id="center">
      <div id="main">
        {{ body|raw }}
      </div>
    </div>
    <footer style="border-top: 2px solid #003971; text-align: center;">
      <div style="padding-top: 30px; padding-bottom: 50px;">
        <a href="" target="_blank" style="display: inline-block;">
          <div style="display: inline-block;">
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/facebook.png" width="24.3px" alt=""/>
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block;  margin: 0 0 0 15px;">
          <div>
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/instagram.png" width="24.3px" alt=""/>
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 0 0 15px;">
          <div>
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/youtube.png" width="24.3px" alt=""/>
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 0 0 15px;">
          <div>
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/google.png" width="24.3px" alt=""/>
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 0 0 15px;">
          <div>
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/twitter.png" width="24.3px" alt=""/>
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 0 0 15px;">
          <div>
            <img src="{{ site_base_path ~ directory }}/imgs/social-icons/pinterest.png" width="24.3px" alt=""/>
          </div>
        </a>
      </div>
      <div style="font-family: Arial, helvetica; font-size: 11px; line-height: 1.55; background: #f7f7f7; padding: 16px; text-align: center;">
        <p style="margin:0;">
          {% trans %}
            &copy; Copyright Mothercare UK Limited  2016 Registerd in England no. 533087, VAT Reg no 440 6445 66
          {% endtrans %}
        </p>
        <p style="margin:0;">
          {% trans %}
            Registered office: Cherry Tree Road, Watford, Herfordshire, WD24 6SH
          {% endtrans %}
        </p>
      </div>
    </footer>
  </body>
</html>
