<article{{ attributes }}>
    <div>{{ 'Account Details' | t }}</div>
    {% if email %}
        <div>{{ 'Email' | t }}</div>
        {{ email }}
    {% endif %}
    {% if contact_number is not empty %}
        <div>{{ 'Contact number' | t }}</div>
        {{ contact_number }}
    {% endif %}
    {% if privilege_card is not empty%}
        <div>{{ 'Privilege card number' | t }}</div>
        {{ privilege_card }}
    {% endif %}
</article>

