<div id="product-zoom-container">
  {% block magazineGallery %}
    <div class="magazine__gallery--container">
      {% for thumbs in thumbnails %}
        {% if thumbs.type == 'youtube' %}
          <div data-iframe="{{ thumbs.url }}" class="pdp-asset pdp-video pdp-asset-{{ loop.index0 }} youtube">
            <img loading="lazy" width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
          </div>
        {% elseif thumbs.type == 'vimeo' %}
          <div data-iframe="{{ thumbs.url }}" class="pdp-asset pdp-video pdp-asset-{{ loop.index0 }} vimeo">
            <img loading="lazy" width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
          </div>
        {% elseif thumbs.type == 'video' %}
          <figure class="pdp-asset pdp-video pdp-asset-{{ loop.index0 }} {{ loop.last ? 'last' : ''}}">
            <button class="pdp-video-close"></button>
            <video class="gallery-video b-lazy" muted="muted" playsinline loop>
              <source src="{{ lazy_load_placeholder }}" data-src="{{ thumbs.url }}">
              {{ 'Your browser does not support the video tag.'|t }}
            </video>
            <div class="pdp-video-controls">
              <div class="control" title="{{ 'Play/Pause Video'|t }}"></div>
            </div>
          </figure>
        {% elseif loop.first %}
          <figure class="pdp-asset pdp-image pdp-asset-{{ loop.index0 }} {{ loop.last ? 'last' : ''}}" data-image-index={{ loop.index0 }}  data-scale="2">
            <div class="pdp-image-zoom-wrapper">
              <img data-zoom-url="{{ thumbs.zoomurl }}" src="{{ thumbs.mediumurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}"/>
            </div>
            {%  if labels|length > 0 %}
              <div class="product-labels">
                {{ labels }}
              </div>
            {% endif %}
          </figure>
        {% else %}
          <figure class="pdp-asset pdp-image pdp-asset-{{ loop.index0 }} {{ loop.last ? 'last' : ''}}" data-image-index={{ loop.index0 }} data-scale="2">
            <div class="pdp-image-zoom-wrapper">
              <img loading="lazy" data-zoom-url="{{ thumbs.zoomurl }}" src="{{ thumbs.mediumurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}"/>
            </div>
          </figure>
        {% endif %}
      {% endfor %}
      <div class="magazine-product-description">
        <div class="magazine-swatch-placeholder"></div>
          {# Delivery options will load if express delivery enabled. #}
          {% if delivery_options %}
            <div class="express-delivery mobile {{ express_delivery_class }}">
              {% for key,delivery_option in delivery_options %}
                <div class="express-delivery-text {{ key }} {{ delivery_option.status }}">
                  <span>{{ delivery_option.label }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        {# Render details before description block. #}
        {% block beforeDescription %}
        {% endblock %}

        <div class="magazine-desc-wrapper">
          {% if product_attribute_labels %}
            <ul class="collection-labels">
              {% for key, product_attribute_label in product_attribute_labels %}
                <li class="{{ key }}">{{ product_attribute_label }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ description }}
        </div>
      </div>

    </div>
  {% endblock %}
  {% block modalGallery %}
    <div id="product-full-screen-gallery-container" style="display: none;">
      <div class="imagegallery__wrapper thumbnail-count-{{ thumbnails|length }}">
        <div class="yt-vi-container cloudzoom__video_modal"></div>
        <ul id="product-full-screen-gallery">
          {% for thumbs in thumbnails %}
            {# As per new desgn we dont show videos in full screen modal galleries. #}
            {% if thumbs.type != 'youtube' and thumbs.type != 'vimeo' and thumbs.type != 'video'%}
              <li>
                <a href="{{ thumbs.fullurl }}" class="imagegallery__thumbnails__image a-gallery">
                  <img loading="lazy" src="{{ thumbs.fullurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}" />
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endblock %}
  {% block modalMobileGallery %}
    <div id="product-image-gallery-container-mobile" class="mob-imagegallery" style="display: none;">
      <div class="mob-imagegallery__wrapper">
        <ul id="product-image-gallery-mob" class="mob-imagegallery__thumbnails {{ pager_flag }}">
            {% for thumbs in thumbnails %}
              {# As per new desgn we dont show videos in full screen modal galleries. #}
              {% if thumbs.type != 'youtube' and thumbs.type != 'vimeo' and thumbs.type != 'video'%}
                <li class="mob-imagegallery__thumbnails__image zoom">
                  <img loading="lazy" src="{{ thumbs.fullurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}" />
                </li>
              {% endif %}
            {% endfor %}
        </ul>
          {%  if labels|length > 0 %}
            <div class="product-labels">
                {{ labels }}
            </div>
          {% endif %}
      </div>
    </div>
  {% endblock %}
</div>
