<div class="cloud-zoom-container">
  <div id="wrap">
    <a href="{{ mainImage.zoomurl }}" rel="{{ properties }}" id="cloud-zoom" class="cloud-zoom">
      <img src="{{ mainImage.mediumurl }}"/></a>
  </div>
  <div id = "yt-vi-container"></div>
  <div class="cloud-zoom-gallery-thumbs">
    <ul id="lightSlider">
    {% for thumbs in thumbnails %}
      {% if thumbs.type == 'youtube' %}
        <li data-iframe="{{ thumbs.url }}" class="video-product-zoom youtube">
          <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" />
        </li>
      {% elseif thumbs.type == 'vimeo' %}
        <li data-iframe="{{ thumbs.url }}" class="video-product-zoom vimeo">
          <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src=""/>
        </li>
      {% else %}
        <li>
          <a href="{{ thumbs.zoomurl }}" class="cloud-zoom-gallery" rel="useZoom: 'cloud-zoom',smallImage: '{{ thumbs.mediumurl }}'">
            <img src="{{ thumbs.thumburl }}"/>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
<div class="image-gallery-mobile">
  <ul id="product-image-gallery-mobile">
    {% for thumbs in thumbnails %}
      {% if thumbs.type == 'youtube' %}
        <li data-iframe="{{ thumbs.url }}" class="youtube">
          <img src="{{ thumbs.thumburl }}"/>
        </li>
      {% elseif thumbs.type == 'vimeo' %}
        <li data-iframe="{{ thumbs.url }}" class="vimeo">
          <img src=""/>
        </li>
      {% else %}
        <li>
          <a href="{{ thumbs.fullurl }}" class="a-gallery">
            <img src="{{ thumbs.fullurl }}"/>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <span class=""subtext">Pinch to Zoom</span>
</div>>
