<div id="product-zoom-container">
  {% block defaultGallery %}
    <div class="cloudzoom thumbnail-count-{{ thumbnails|length }}">
    <div class="cloudzoom__herocontainer">
      <div id="cloud-zoom-wrap" class="cloudzoom__image">
        <div class="img-wrap" data-scale="2"><img data-zoom-url="{{ mainImage.zoomurl }}" src="{{ mainImage.mediumurl }}" alt="{{ mainImage.label }}" title="{{ mainImage.label }}" /></div>
      </div>
      <div class="yt-vi-container cloudzoom__video_main"></div>
      {%  if labels|length > 0 %}
        <div class="product-labels">
          {{ labels }}
        </div>
      {% endif %}
    </div>
    <div class="cloudzoom__thumbnails">
      <ul id="lightSlider" class="{{ pager_flag }}">
      {% for thumbs in thumbnails %}
        {% if thumbs.type == 'youtube' %}
          <li data-iframe="{{ thumbs.url }}" class="cloudzoom__thumbnails__video youtube">
            <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
          </li>
        {% elseif thumbs.type == 'vimeo' %}
          <li data-iframe="{{ thumbs.url }}" class="cloudzoom__thumbnails__video vimeo">
            <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
          </li>
        {% else %}
          <li>
            <a data-zoom-url="{{ thumbs.zoomurl }}" href="{{ thumbs.mediumurl }}" class="cloud-zoom-gallery cloudzoom__thumbnails__image">
              <img src="{{ thumbs.thumburl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}" />
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endblock %}
  {% block mobileGallery %}
    <div class="mobilegallery">
      <ul id="product-image-gallery-mobile" class="mobilegallery__thumbnails {{ pager_flag }}">
        {% for thumbs in thumbnails %}
          {% if thumbs.type == 'youtube' %}
            <li class="mobilegallery__thumbnails__video youtube">
              <div class="mobileplayer-wrapper">
                <iframe class="mobileplayer" src={{ thumbs.url }} style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </li>
          {% elseif thumbs.type == 'vimeo' %}
            <li class="mobilegallery__thumbnails__video vimeo">
              <div class="mobileplayer-wrapper">
                <iframe class="mobileplayer" src={{ thumbs.url }} style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </li>
          {% else %}
            <li>
              <img src="{{ thumbs.zoomurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}" />
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {%  if labels|length > 0 %}
      <div class="product-labels">
        {{ labels }}
      </div>
    {% endif %}
    <div class="subtext"><p>{{ 'Tap to enlarge'|t }}</p><p>{{ 'Swipe to view more images'|t }}</p></div>
  </div>
  {% endblock %}
  {% block modalGallery %}
    <div id="product-full-screen-gallery-container" style="display: none;">
      <div class="imagegallery__wrapper thumbnail-count-{{ thumbnails|length }}">
        <div class="yt-vi-container cloudzoom__video_modal"></div>
        <ul id="product-full-screen-gallery">
          {% for thumbs in thumbnails %}
            {% if thumbs.type == 'youtube' %}
              <li data-iframe="{{ thumbs.url }}" class="imagegallery__thumbnails__video youtube">
                <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}"/>
              </li>
            {% elseif thumbs.type == 'vimeo' %}
              <li data-iframe="{{ thumbs.url }}" class="imagegallery__thumbnails__video vimeo">
                <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}"/>
              </li>
            {% else %}
              <li>
                <a href="{{ thumbs.fullurl }}" class="imagegallery__thumbnails__image a-gallery">
                  <img src="{{ thumbs.fullurl }}" alt="{{ thumbs.label }}" title="{{ thumbs.label }}" />
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endblock %}
</div>
