{% if is_default_profile is empty %}
<div class="address">
{% else %}
<div class="address default">
{% endif %}
  <div class="address--data">
      <div class="address--userinfo">
          {% if delivery_to is not empty %}
             <div>
                <div class="address--label">{{ 'Delivery to' | t }}</div>
                <div class="address--content">{{ delivery_to }}</div>
             </div>
          {% endif %}

          {% if delivery_address.organization is not empty %}
              <div class="address--contact">
                  <div class="address--label">{{ 'Email' | t }}</div>
                  <div class="address--content">{{ delivery_address.organization }}</div>
              </div>
          {% endif %}

          {% if contact_no is not empty %}
              <div class="address--contact">
                  <div class="address--label">{{ 'Contact number' | t }}</div>
                  <div class="address--content">{{ contact_no }}</div>
              </div>
          {% endif %}
      </div>

      {% if delivery_address is not empty %}
      <div class="address--delivery">
          <div class="address--label">{{ 'Delivery address' | t }}</div>
          {% for item in delivery_address|without('family_name', 'given_name', 'organization', 'mobile_number') %}
            {% if item is not empty %}
              <div class="address--content">{{ item }}</div>
            {% endif %}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <div class="address--options">

      {% if set_default_operation is not empty %}
        <div class="address--primary address--controls">
          {{ set_default_operation }}
        </div>
      {% endif %}

      {% if change_address is not empty %}
        <div class="address--change-address address--controls">
          {{ change_address }}
        </div>
      {% endif %}

      {% if deliver_to_this_address is not empty  %}
        <div class="address--deliver-to-this-address address--controls">
          {{ deliver_to_this_address }}
        </div>
      {% endif %}

      {% if edit_operation is not empty %}
        <div class="address--edit address--controls">
          {{ link(edit_operation.title, edit_operation.url ) }}
        </div>
      {% endif %}

      {% if delete_operation is not empty %}
        <div class="address--delete address--controls">
          {{ link(delete_operation.title, delete_operation.url ) }}
        </div>
      {% endif %}

  </div>
</div>
