<div id="pdp-stores-container" class="click-collect c-accordion-delivery-options" sku="{{ sku }}" sku-clean="{{ sku|clean_class }}" type="{{ type }}">
  <h3 class="c-accordion__title">
    {% if title %}
      {{ title }}
      <span class="title-price">{{ title_price }}</span>
      <span class="subtitle">{{ subtitle }}</span>
    {% endif %}
  </h3>
  <div class="c-accordion_content">
    {% if type == 'configurable' %}
      <div class="click-collect-empty-selection">
        <div class="text">
          {{ help_text|raw }}
          <div class="select-size-text">{{ select_option_text|raw }}</div>
        </div>
      </div>
      <div class="click-collect-form">
    {% else %}
      <div class="click-collect-form">
    {% endif %}
      <div class="text">
        {{ help_text|raw }}
        <p>{{ subtitle }}</p>
        <div class="available_store">
          <div class="available-store-text">
            {{ 'Available at three stores near'|t }} <div class="google-store-location"></div>
            <div class="change-location" style="display: none;">
              <input type="textfield" name="store-location" class="change-store-location"/>
              <button type="button" name="cancel-change-location" id="cancel-change-location" class="cancel-change-location">X</button>
            </div>
            <div class="change-location-link">{{ 'change'|t }}</div>
          </div>
          <div class="store-finder-form-wrapper">
            <div id="search-store" class="search-store" style="display: none;">{{ store_finder_form }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="click-collect-top-stores"></div>
  </div>
</div>

<div class="click-collect-all-stores inline-modal-wrapper" id="click-collect-all-stores" style="display: none;"></div>

