<span class="close-inline-modal"></span>

{% if title %}
  <div class="all-stores-info">
    <h3>{{ title }}</h3>
    <div class="text">{{ subtitle }}</div>
  </div>
{% endif %}
<div class="available_store">
  <div class="available-store-text">
    {{ 'Available at three stores near'|t }} <div class="google-store-location"></div>
    <div class="change-store-link">{{ 'change'|t }}</div>
  </div>
  <div class="store-finder-form-wrapper">
    <div id="all-stores-search-store" class="search-store" style="display: none;">{{ store_finder_form }}</div>
  </div>
</div>

<div class="stores-list-all">
{% if stores %}
  <ul>
    {% for store in stores %}
      <li>
        <div class="store-low-stock">{{ store.low_stock_text }}</div>
        <div class="store-name">{{ store.name }}</div>
        <div class="store-address">{{ store.address }}</div>
        <div class="store-delivery-time">{{ store.delivery_time  }}</div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
