{% extends "@alshaya_acm_customer/checkout-order-detail.html.twig" %}

{% block subTotalRow %}
  <tr class="sub-total-row price-row collapse-row">
    <td class="above-mobile">&nbsp;</td>
    <td class="above-mobile">&nbsp;</td>
    <td class="right--align label">{{ "Sub total"|t }}</td>
    <td class="blend">
      {{ order_details.sub_total }}
    </td>
    <td class="above-mobile empty--cell">&nbsp;</td>
  </tr>
{% endblock %}

{% block discountRow %}
  {% if order_details.discount is not empty %}
    <tr class="discount-row price-row collapse-row">
      <td class="above-mobile">&nbsp;</td>
      <td class="above-mobile">&nbsp;</td>
      <td class="right--align label">{{ "Discount"|t }}</td>
      <td class="blend">
        {{ order_details.discount }}
      </td>
      <td class="above-mobile empty--cell">&nbsp;</td>
    </tr>
  {% endif %}
{% endblock %}

{% block deliveryChargeRow %}
  <tr class="delivery-charge-row price-row collapse-row">
    <td class="above-mobile">&nbsp;</td>
    <td class="above-mobile">&nbsp;</td>
    <td class="right--align label">{{ "Delivery charge"|t }}</td>
    <td class="blend">
      {{ order_details.delivery_charge }}
    </td>
    <td class="above-mobile empty--cell">&nbsp;</td>
  </tr>
{% endblock %}

{% block totalRow %}
  <tr class="price-row total-row collapse-row">
    <td class="above-mobile">&nbsp;</td>
    <td class="above-mobile">&nbsp;</td>
    <td>
      <div class="right--align label">{{ "Order Total"|t }}</div>
    </td>
    <td class="warm--white">
      <div class="dark bold">
        {{ order_details.order_total }}
      </div>
    </td>
    <td class="above-mobile empty--cell">&nbsp;</td>
  </tr>
{% endblock %}

{% block vatRow %}
  {% if vat_text %}
    <tr class="total-row vat-row collapse-row vat-container">
      <td class="above-mobile">&nbsp;</td>
      <td class="above-mobile">&nbsp;</td>
      <td class="above-mobile">&nbsp;</td>
      <td class="warm--white">
        <span class="vat-text">{{ vat_text }}</span>
      </td>
      <td class="above-mobile empty--cell">&nbsp;</td>
    </tr>
  {% endif %}
{% endblock %}
