<div class='options-page-content'>
  <div class='options-page-header'>
    <div class='options-page-title'>{{ page_title }}</div>
    <div class='options-page-description'>{{ description }}</div>
  </div>
  {% for key,option in options_list %}
    <div class='options-list attribute-option attribute-filter-option {{ key }}'>
      <div class='attribute-title'> {{ option.title }} </div>
      <div class='attribute-filter-header-container'>
        <div class='attribute-filter-header'>
          <div class='attribute-filter-block-title mobile-only-block'> {{ option.mobile_title }}  </div>
          <div class='attribute-overlay-close-icon mobile--close mobile-only-block'>
            <span></span>
          </div>
        </div>
      </div>
      {% if option.search %}
        <div class='attribute-search-form'>
          <input type='text' id='alshaya-options-list-autocomplete-form' value='' placeholder="{{ option.search_placeholder }}">
        </div>
      {% endif %}
      <div class='attribute-description'> {{ option.description }} </div>
        {{ option.options_markup }}
    </div>
    {% if option.search %}
      <div class="mobile-only-block">
        <div class='attribute-option {{ key }}'>
          <div class='attribute-title'> {{ option.title }} </div>
          <div class='attribute-description'> {{ option.description }} </div>
          {% if option.mobile_title %}
            <div class='attribute-detail-link mobile-only-block'> {{ option.mobile_title }} </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class='divider'>
      <span>{{ 'or' |t }} </span>
    </div>
  {% endfor %}
</div>
