{# @todo: Work on the other formats except images. #}
<li class="mobilegallery__thumbnails__video youtube">
  <div class="mobileplayer-wrapper">
    <iframe class="mobileplayer" src="{{ thumbs.url }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</li>
<li class="mobilegallery__thumbnails__video vimeo">
  <div class="mobileplayer-wrapper">
    <iframe class="mobileplayer" src="{{ thumbs.url }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</li>
<li class="mobilegallery__thumbnails__video pdp-video">
  <button class="pdp-video-close"></button>
  <video class="gallery-video b-lazy" muted="muted" loop>
    <source src="{{ lazy_load_placeholder }}" data-src="{{ thumbs.url }}">
    {{ 'Your browser does not support the video tag.'|t }}
  </video>
  <div class="pdp-video-controls">
    <div class="control" title="{{ 'Play/Pause Video'|t }}"></div>
  </div>
</li>
<li class="default">
  <img class="b-lazy" src="" data-src="" alt="" title="" />
</li>
