{# @todo: Work on the other types except image. #}
<li data-iframe="{{ thumbs.url }}" class="cloudzoom__thumbnails__video youtube">
  <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
</li>
<li data-iframe="{{ thumbs.url }}" class="cloudzoom__thumbnails__video vimeo">
  <img width='{{ thumbs.width }}' height='{{ thumbs.height }}' src="{{ thumbs.thumburl }}" alt="{{ thumbs.video_desc }}" title="{{ thumbs.video_title }}" />
</li>
<li class="cloudzoom__thumbnails__video pdp-video">
  <button class="pdp-video-close"></button>
  <video class="gallery-video" loading="lazy" muted="muted" loop>
    <source src="{{ lazy_load_placeholder }}" data-src="{{ thumbs.url }}">
    {{ 'Your browser does not support the video tag.'|t }}
  </video>
  <div class="pdp-video-controls">
    <div class="control" title="{{ 'Play/Pause Video'|t }}"></div>
  </div>
</li>
<li class="default">
  <a class="cloud-zoom-gallery cloudzoom__thumbnails__image">
    <img loading="lazy" />
  </a>
</li>
