<form class="sku-base-form" data-sku="{{ sku }}" data-cleaned-sku="{{ sku_clean }}" data-sku-type="{{ sku_type }}">
  <div class="errors-container error-container-{{ sku }} js-form-wrapper form-wrapper" data-drupal-selector="edit-errors-container" data-msg-required="Please enter your This field." id="edit-errors-container"></div>
  {{#if configurable_options}}
    <div id="configurable_ajax" class="configurable-wrapper-{{ sku }} js-form-wrapper form-wrapper" data-drupal-selector="edit-ajax" data-msg-required="Please enter your This field.">
      {{{ configurable_options }}}
    </div>
  {{/if}}
  <span class="quantity-{{ sku }}">
    {{#if quantity_dropdown }}
      <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-quantity form-item-quantity">
        {{{ quantity_dropdown }}}
      </div>
    {{/if}}
  </span>
  <button name="add_to_cart_{{ sku }}" id="edit-add-to-cart-{{ sku }}" class='cv-validate-before-ajax edit-add-to-cart add-to-cart-button ladda-button' data-twig-suggestion="addtocart" type="submit">{{{ add_to_cart_text }}}</button>
  <input class="selected-variant-sku selected-variant-sku-{{  sku_clean }}" data-drupal-selector="edit-selected-variant-sku" data-msg-required="Please enter your This field." type="hidden" name="selected_variant_sku" value="{{ sku }}">
  <input class="selected-parent-sku" data-drupal-selector="edit-selected-parent-sku" data-msg-required="Please enter your This field." type="hidden" name="selected_parent_sku" value="{{ sku }}">
</form>
