<div class="content--short-description">
  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
  <div class="field__content-wrapper">
    <div class="field__content">
      <div class="desc-wrapper">
        {% if label %}
          <div class="desc-label">
            {{ label }}
          </div>
        {% endif %}
        {% if value %}
          <div class="desc-value">
            {{ value }}
          </div>
        {% endif %}
      </div>
    </div>
    {% if read_more %}
      <span class="read-more-description-link">{{ 'Read more'|t }}</span>
      <span class="read-more-description-link-mobile">{{ 'Read more'|t }}</span>
    {% endif %}
  </div>
</div>
