{% set module = 'alshaya-social' %}
{# If there is at-least one social network available.#}
{% if social_networks is not empty %}
  {{ attach_library('social_auth/auth-icons') }}
    <div class="login-separator top"><span> {{ 'or'|t }} </span></div>
    {% if section_title %}
      <div class="section-title">{{ section_title }}</div>
    {% endif %}
    {% for key, social_network in social_networks %}
      {# If route info available for the social network.#}
      {% if social_network.route is not empty %}
        <div class="{{ module }}">
          {% if destination %}
            <a class="{{ key }} auth-link" href="#" social-auth-link="{{ path(social_network.route, {}, {'query': {'destination': destination}}) }}">
          {% else %}
            <a class="{{ key }} auth-link" href="#" social-auth-link="{{ path(social_network.route) }}">
          {% endif %}
            {% if social_network.text_link is defined %}
              <span class="social-network-text">{{ social_network.text_link }}</span>
            {% endif %}
          </a>
        </div>
      {% endif %}
  {% endfor %}
  <div class="login-separator bottom"><span> {{ 'or'|t }} </span></div>
{% endif %}
