<div class="c-footer-primary">
  <div class="l-container">
    <div class="c-footer-primary__region">

      <div class="primary--footer--right">

        {% if already_not_visited is not empty %}
          <div class="language--switcher mobile-only-block first-time-visit">
            {{ page.footer_primary.languageswitcher_2 }}
          </div>
        {% else %}
          <div class="language--switcher mobile-only-block">
            {{ page.footer_primary.languageswitcher_2 }}
          </div>
        {% endif %}

        {{ page.footer_primary|without('shopby', 'aboutbrand', 'help', 'languageswitcher_2', 'sociallinks') }}

        <div class="footer--social above-mobile-block">
          {{ page.footer_primary.sociallinks }}
        </div>

        <div class="language--switcher tablet-only-block">
          {{ page.footer_primary.languageswitcher_2 }}
        </div>
      </div>

      <div class="footer--menu">
        <div class="footer--categories">
          {{ page.footer_primary.shopby }}
        </div>

        <div class="footer--abouthelp">
          {{ page.footer_primary.aboutbrand }}
          {{ page.footer_primary.help}}
        </div>

        <div class="footer--social mobile-only-block">
          {{ page.footer_primary.sociallinks }}
        </div>
      </div>
    </div>
  </div>
</div>
