<div class="main--menu">
<div class="toggle--sign no--desktop">
  <div class="shop one active">{{ 'shop' | t }}</div>
  <div class="account one">{{ "sign in" | t }} / {{ "register" | t }}</div>
  <div class="account--logged_in one">{{ 'my account' | t }}</div>
</div>
  <div class="mobile--close no--desktop">
    <span></span>
  </div>
  <ul class="menu__list menu--one__list">
    {% for key1, level1 in term_tree %}
      {% if level1.class == true and level1.term_bg_color == true %}
        <li class="menu__list-item menu--one__list-item {{ level1.class }} has-bg-color">
      {% elseif level1.term_bg_color == true %}
        <li class="menu__list-item menu--one__list-item has-bg-color">
      {% else %}
        <li class="menu__list-item menu--one__list-item">
      {% endif %}
          <div class="menu__link-wrapper menu-two__link-wrapper">
            {% set style = '' %}
            {% if level1.term_bg_color %}
                {% set style = style ~ 'background-color:' ~ level1.term_bg_color ~ ';' %}
            {% endif %}
            {% if level1.term_font_color %}
                {% set style = style ~ 'color:' ~ level1.term_font_color ~ ';' %}
            {% endif %}
            {% if style is not empty %}
                <{{ level1.tag }} class="menu__link menu--one__link {{ level1.class }}" style="{{ style }}" {{ level1.path }}>{{ level1.label }}</{{ level1.tag }}>
            {% else %}
                <{{ level1.tag }} class="menu__link menu--one__link {{ level1.class }}" {{ level1.path }}>{{ level1.label }}</{{ level1.tag }}>
            {% endif %}
            {% set style = '' %}
          </div>
          {% if level1.child is not empty %}
            {{ alshaya_main_menu('alshaya_main_menu_level2', level1) }}
          {% endif %}
        </li>
    {% endfor %}
  </ul>
</div>
