{% if data.heading_link_title is not empty %}
    <ul class="text-links">
        <li class="heading menu__list-item menu--two__list-item has-child">
            <div class="menu__link-wrapper menu-two__link-wrapper">
                {% if data.link is not empty %}
                {{ link(data.heading_link_title, data.link) }}
                {% else %}
                <span class="menu__link">{{ data.heading_link_title }}<span>
            {% endif %}
            </div>

            <ul class="sub-heading menu__list menu--three__list">
                <div class="level-three__wrapper">
                    <span class="back--link"><span class="menu__back"></span> <span>{{ data.heading_link_title }}</span></span>
                    {% for subheading in data.subheading %}
                        <li class="menu__list-item menu--three__list-item">
                            {% if subheading.link is not empty %}
                                {{ link(subheading.subheading_link_title, subheading.link) }}
                            {% else %}
                                <span class="menu__link">{{ subheading.subheading_link_title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </div>
            </ul>
        </li>
    </ul>
{% endif %}