{% set l2_image_highlight = '' %}
  {#Highlight image start#}
  {% if (level2.highlight_paragraph is not empty or data.highlight_paragraph is not empty) %}
  <div class="highlights">
  {% else %}
  <div>
  {% endif %}
  {% for key, level2 in data.child %}
    {% if level2.highlight_paragraph is not empty %}
      {% if highlights_text is not empty %}
        <div class="title">{{ highlights_text }}</div>
      {% endif %}
        {% set l2_image_highlight = true %}

        {% for highlight_paragraph in level2.highlight_paragraph %}
            <div class="highlighted" gtm-type="gtm-highlights">
                <a href="{{ highlight_paragraph.image_link }}">
                    {{ highlight_paragraph.img }}
                    {% if highlight_paragraph.title %}
                        <span class="hightlight__title">{{ highlight_paragraph.title }}</span>
                    {% endif %}
                    {% if highlight_paragraph.description %}
                        <span class="hightlight__description">{{ highlight_paragraph.description }}</span>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% endif %}
  {% endfor %}
  {#Highlight image end#}

  {#Highlight image start#}
  {% if data.highlight_paragraph is not empty %}
        {% if l2_image_highlight is empty %}
          {% if highlights_text is not empty %}
            <div class="title">{{ highlights_text }}</div>
          {% endif %}
        {% endif %}
          {% for highlight_paragraph in data.highlight_paragraph %}
              <div class="highlighted" gtm-type="gtm-highlights">
                  <a href="{{ highlight_paragraph.image_link }}">
                      {{ highlight_paragraph.img }}
                      {% if highlight_paragraph.title %}
                          <span class="hightlight__title">{{ highlight_paragraph.title }}</span>
                      {% endif %}
                      {% if highlight_paragraph.description %}
                          <span class="hightlight__description">{{ highlight_paragraph.description }}</span>
                      {% endif %}
                  </a>
              </div>
          {% endfor %}
  {% endif %}
</div>
