<div>
    <ul>
        {% for key1, level1 in term_tree %}
            <li>
                <div>
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level1.id}) }}">{{ level1.label }}</a>
                </div>
                {% if level1.child is not empty %}
                    <ul>
                        {% for key2, level2 in level1.child %}
                            <li>
                                <div>
                                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level2.id}) }}">{{ level2.label }}</a>
                                </div>
                                <div>
                                    {% if level2.description is not empty %}
                                        <div>{{ level2.description }}</div>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if level2.child is not empty %}
                                        <ul>
                                            {% for key3, level3 in level2.child %}
                                                <li>
                                                    <div>
                                                        <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level3.id}) }}">{{ level3.label }}</a>
                                                    </div>
                                                    {% if level3.child is not empty %}
                                                        <ul>
                                                            {% for key4, level4 in level3.child %}
                                                                <li>
                                                                    <div>
                                                                        <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level4.id}) }}">{{ level4.label }}</a>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {% if level2.highlight_image is not empty %}
                                    <div>Highlight</div>
                                    {% for highlight_image in level2.highlight_image %}
                                        <div><img src="{{ highlight_image }}"/></div>
                                    {% endfor %}
                                {% elseif level1.highlight_image is not empty %}
                                    <div>Highlight</div>
                                    {% for highlight_image in level1.highlight_image %}
                                        <div><img src="{{ highlight_image }}"/></div>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
