<ul class="menu__list menu--two__list">
  <span class="back--link"><span class="menu__back"></span> <span>{{ data.label }}</span></span>
  {% for key, level2 in data.child %}
    <li class="menu__list-item menu--two__list-item">

       {#Show the term tree only when term image is not available.#}
      {% if level2.term_image is empty %}
        <div class="menu__link-wrapper menu-two__link-wrapper">
          <a  class="menu__link menu-two__link {{ data.sub_nav_class }}" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level2.id}) }}">{{ level2.label }}</a>
            {% if level2.description|render is not empty %}
              <p>{{ level2.description }}</p>
            {% endif %}
        </div>
          {% if level2.child is not empty %}
            <ul class="menu__list menu--three__list">
              <div class="level-three__wrapper">
                <span class="back--link"><span class="menu__back"></span> <span>{{ level2.label }}</span></span>
                  {% for key3, level3 in level2.child %}
                    <li class="menu__list-item menu--three__list-item">
                      <div class="menu__link-wrapper menu-two__link-wrapper">
                        <a class="menu__link menu--three__link {{ data.sub_nav_class }}" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level3.id}) }}">{{ level3.label }}</a>
                      </div>
                        {% if level3.child is not empty %}
                            {{ alshaya_main_menu('alshaya_main_menu_level4', level3.child) }}
                        {% endif %}
                    </li>
                  {% endfor %}
              </div>
            </ul>
          {% endif %}
      {% endif %}

      {#Highlight image start#}
      {% if level2.highlight_paragraph is not empty %}
        <div class="highlights">
          <div class="title">{{ 'highlights' | t }}</div>
          {% for highlight_paragraph in level2.highlight_paragraph %}
            <div class="highlighted" gtm-type="gtm-highlights">
              <a href="{{ highlight_paragraph.image_link }}">
                {{ highlight_paragraph.img }}

                {% if highlight_paragraph.title %}
                  <span class="hightlight__title">{{ highlight_paragraph.title }}</span>
                {% endif %}

                {% if highlight_paragraph.description %}
                  <span class="hightlight__description">{{ highlight_paragraph.description }}</span>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {#Highlight image end#}

      {#Term image starts#}
      {% if level2.term_image is not empty %}
        <div class="term-image">{{ level2.term_image.term_image }}</div>
        {% set image_text_style = '' %}
        {% if level2.term_image.bg_color %}
            {% set image_text_style = image_text_style ~ 'background-color:' ~ level2.term_image.bg_color ~ ';' %}
        {% endif %}
        {% if level2.term_image.font_color %}
            {% set image_text_style = image_text_style ~ 'color:' ~ level2.term_image.font_color ~ ';' %}
        {% endif %}
        {% if image_text_style is not empty %}
          <a style="{{ image_text_style }}" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level2.id}) }}">{{ level2.label }}</a>
        {% else %}
          <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level2.id}) }}">{{ level2.label }}</a>
        {% endif %}
        {% set image_text_style = '' %}
      {% endif %}
      {#Term image ends#}

    </li>
  {% endfor %}

  {#Highlight image start#}
  {% if data.highlight_paragraph is not empty %}
    <div class="highlights">
      <div class="title">{{ 'highlights' | t }}</div>
      {% for highlight_paragraph in data.highlight_paragraph %}
        <div class="highlighted" gtm-type="gtm-highlights">
          <a href="{{ highlight_paragraph.image_link }}">
            {{ highlight_paragraph.img }}

            {% if highlight_paragraph.title %}
              <span class="hightlight__title">{{ highlight_paragraph.title }}</span>
            {% endif %}

            {% if highlight_paragraph.description %}
              <span class="hightlight__description">{{ highlight_paragraph.description }}</span>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {#Highlight image end#}
</ul>

