<div class="free-gift-promo-wrapper free-gift-promo-list">
  {{#if freeGiftImage }}
    <div class="free-gift-image">
      <img src="{{ freeGiftImage.url }}" title="{{ freeGiftTitle }}" alt="{{ freeGiftTitle }}" typeof="foaf:Image"
        loading="lazy">
    </div>
  {{/if}}

  <div class="free-gift-wrapper">
    <div class="free-gift-title">
      {{t "Free Gift" }}
    </div>
    <div class="free-gift-message">
        <a href={{ freeGiftPromoUrl }}
          class="use-ajax"
          data-dialog-type="modal"
          data-dialog-options='{"width":"auto"}'>
          {{ freeGiftTitle }}
        </a>{{t 'with this product' }}
    </div>

    {{#if freeGiftCoupon }}
      <div class="free-gift-coupon-code">
        {{t "Use Code " }}
        {{#each freeGiftCoupon }}
          <span class="coupon-code">{{ this.value }}</span>
        {{/each}}
        {{t 'with this product' }}
      </div>
    {{/if}}
  </div>
</div>
