<div{{ attributes.addClass(classes) }}>
  {% if prefix is not empty %}
    <span class="field-prefix">{{ prefix }}</span>
  {% endif %}
  {% if description_display == 'before' and description_content %}
    <div{{ description_attributes }}>
      <span class="input-textual__description">
        {{ description_content }}
      </span>
    </div>
  {% endif %}

  <div class="input-textual__container">
    <div class="input__inner-container">
      {% include "./_input-password.twig" with
        {
          attributes: input_attributes,
          children: input_children
        }
      %}
      <div class="input__line"></div>
      {% if label_display in ['before', 'invisible'] %}
        <span class="input__label">
          {{ label }}
        </span>
      {% endif %}
    </div>
  </div>

  {% if suffix is not empty %}
    <span class="field-suffix">{{ suffix }}</span>
  {% endif %}
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}
  <div class="input-textual__container--errors">
    {% if errors %}
      <div class="form-item--error-message">
        {{ errors }}
      </div>
    {% endif %}
  </div>
  {% if description_display in ['after', 'invisible'] and description_content %}
    <div{{ description_attributes.addClass(description_classes) }}>
      <span class="input-textual__description">
        {{ description_content }}
      </span>
    </div>
  {% endif %}
</div>
